In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
import pandas as pd

In [3]:
raw_html = requests.get('https://www.hellenicparliament.gr/Vouli-ton-Ellinon/To-Politevma/Ekloges/Eklogika-apotelesmata-New/').content

In [4]:
print(type(raw_html))

<class 'bytes'>

In [5]:
print(raw_html)

b'\r\n<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">\r\n<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="el" lang="el">\r\n<head id="ctl00_Head1"><title>\r\n\t\xce\x95\xce\xba\xce\xbb\xce\xbf\xce\xb3\xce\xb9\xce\xba\xce\xac \xce\x91\xcf\x80\xce\xbf\xcf\x84\xce\xb5\xce\xbb\xce\xad\xcf\x83\xce\xbc\xce\xb1\xcf\x84\xce\xb1\r\n</title><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta http-equiv="Content-Style-Type" content="text/css" />\r\n    <link media="screen" rel="Stylesheet" type="text/css" href="/styles/default.css" />\r\n    <link media="screen" rel="Stylesheet" type="text/css" href="/styles/inner.css" />\r\n    <link media="print" rel="Stylesheet" type="text/css" href="/styles/print.css" />\r\n    <link media="screen" rel="Stylesheet" type="text/css" href="/styles/jquery-ui.css" /><script type="text/javascript" src="/scripts/jquery.js"></script><script type="text/javascript" src="/scripts/jquery-ui.js"></script><script type="text/javascript" src="/scripts/common.js"></script><script type="text/javascript" src="/scripts/href_utils.js"></script><script type="text/javascript" src="/scripts/swfobject.js"></script><script type="text/javascript">\r\n    /* <![CDATA[ */\r\n        var applicationRoot = \'/\';\r\n    /* ]]> */\r\n    </script></head>\r\n<body>\r\n    <form name="aspnetForm" method="post" action="/Vouli-ton-Ellinon/To-Politevma/Ekloges/Eklogika-apotelesmata-New/" id="aspnetForm">\r\n<div>\r\n<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUBMA9kFgJmD2QWAgIDEGRkFgQCAQ9kFgJmDxYCHgRUZXh0BRo8YSBocmVmPSIvZW4vIj5FbmdsaXNoPC9hPmQCEQ9kFgRmDxYCHwAFWTxhIGhyZWY9Ii90ZXJtc09mVXNlIiBhbHQ9IjwlPSBSZXNvdXJjZXMuTGl0ZXJhbHMudGVybXNPZlVzZSU+Ij7OjM+Bzr/OuSDPh8+Bzq7Pg863z4I8L2E+ZAIBDxYCHwAFezxhIGhyZWY9Ii9jbGFzc2lmaWVkUHJvdGVjdGlvbiIgYWx0PSI8JT0gUmVzb3VyY2VzLkxpdGVyYWxzLmNsYXNzaWZpZWRQcm90ZWN0aW9uJT4iPs6gz4HOv8+Dz4nPgM65zrrOrCDOtM61zrTOv868zq3Ovc6xPC9hPmQYAQUeX19Db250cm9sc1JlcXVpcmVQb3N0QmFja0tleV9fFgEFGmN0bDAwJHRvb2xzMSRidG5UZXh0U2VhcmNopncTvIv3oEhIpNXh56l6qwOPl/o=" />\r\n</div>\r\n\r\n<div>\r\n\r\n\t<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="13244B6A" />\r\n\t<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWAwKC3M+YAQLd0KKTBQKP/cqFBQ6b9NXw6pksDpgzbJF/4Ezy1bYL" />\r\n</div>\r\n    <div id="container">\r\n        \r\n<div class=\'skipnav\'><a href="#basiccontent" >\xce\xa0\xce\xb1\xcf\x81\xce\xac\xce\xba\xce\xb1\xce\xbc\xcf\x88\xce\xb7 \xce\xb2\xce\xbf\xce\xb7\xce\xb8\xce\xb7\xcf\x84\xce\xb9\xce\xba\xcf\x8e\xce\xbd \xcf\x83\xcf\x85\xce\xbd\xce\xb4\xce\xad\xcf\x83\xce\xbc\xcf\x89\xce\xbd</a></div>\r\n<div id="topmenu">\r\n    <!--<a href="/en/">English</a><span>|</span>-->\r\n    <!-- <a href="/el/">\xce\x91\xcf\x81\xcf\x87\xce\xb9\xce\xba\xce\xae \xce\xa3\xce\xb5\xce\xbb\xce\xaf\xce\xb4\xce\xb1</a> -->\r\n    <a href="/en/">English</a> | <a href="/fr/">Fran\xc3\xa7ais</a> | <a href="/el/">\xce\x95\xce\xbb\xce\xbb\xce\xb7\xce\xbd\xce\xb9\xce\xba\xce\xac</a> | <a href="/contact/" title="\xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xae \xcf\x84\xcf\x89\xce\xbd \xce\x95\xce\xbb\xce\xbb\xce\xae\xce\xbd\xcf\x89\xce\xbd - \xce\x95\xcf\x80\xce\xb9\xce\xba\xce\xbf\xce\xb9\xce\xbd\xcf\x89\xce\xbd\xce\xaf\xce\xb1">\xce\x95\xcf\x80\xce\xb9\xce\xba\xce\xbf\xce\xb9\xce\xbd\xcf\x89\xce\xbd\xce\xaf\xce\xb1</a> | <a href="/sitemap/">\xce\xa7\xce\xac\xcf\x81\xcf\x84\xce\xb7\xcf\x82 \xce\xa0\xce\xbb\xce\xbf\xce\xae\xce\xb3\xce\xb7\xcf\x83\xce\xb7\xcf\x82</a> | <a href="/help/">\xce\x9f\xce\xb4\xce\xb7\xce\xb3\xce\xaf\xce\xb5\xcf\x82</a><span class="separator"><span>|</span></span>\r\n    \r\n</div>\r\n        <div id="page">\r\n            <div id="header">\r\n                \r\n<div id="logo">\r\n    <a href="/el/">\r\n        <img src="/images/logo_el.gif"\r\n            alt="\xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xae \xcf\x84\xcf\x89\xce\xbd \xce\x95\xce\xbb\xce\xbb\xce\xae\xce\xbd\xcf\x89\xce\xbd"  height="70" /></a>\r\n    <div id="tools" >\r\n\r\n                <div class="lblSearch">\r\n                    <label for="ctl00_tools1_txtSearch" id="ctl00_tools1_lblSearch">\xce\x91\xce\xbd\xce\xb1\xce\xb6\xce\xae\xcf\x84\xce\xb7\xcf\x83\xce\xb7&nbsp;&nbsp;</label>\r\n                </div>\r\n                <div class="txtSearch">\r\n                    <input name="ctl00$tools1$txtSearch" type="text" id="ctl00_tools1_txtSearch" />\r\n                </div>            \r\n                <div class="btnSearch">\r\n                    <input type="image" name="ctl00$tools1$btnTextSearch" id="ctl00_tools1_btnTextSearch" class="smallbutton" alt="\xce\x91\xce\xbd\xce\xb1\xce\xb6\xce\xae\xcf\x84\xce\xb7\xcf\x83\xce\xb7" src="/images/go.gif" style="border-width:0px;" />\r\n                </div>\r\n                  \r\n        \r\n           \r\n  \r\n    </div>\r\n</div>\r\n\r\n                \r\n\r\n<div id="menu">\r\n<a href="/Vouli-ton-Ellinon/O-Thesmos/" title="\xce\x97 \xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xae" >\xce\x97 \xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xae</a><span class="separator">|</span><a href="/Organosi-kai-Leitourgia/Proedreio" title="\xce\x9f\xcf\x81\xce\xb3\xce\xac\xce\xbd\xcf\x89\xcf\x83\xce\xb7 &amp; \xce\x9b\xce\xb5\xce\xb9\xcf\x84\xce\xbf\xcf\x85\xcf\x81\xce\xb3\xce\xaf\xce\xb1" >\xce\x9f\xcf\x81\xce\xb3\xce\xac\xce\xbd\xcf\x89\xcf\x83\xce\xb7 &amp; \xce\x9b\xce\xb5\xce\xb9\xcf\x84\xce\xbf\xcf\x85\xcf\x81\xce\xb3\xce\xaf\xce\xb1</a><span class="separator">|</span><a href="/Vouleftes" title="\xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xb5\xcf\x85\xcf\x84\xce\xad\xcf\x82" >\xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xb5\xcf\x85\xcf\x84\xce\xad\xcf\x82</a><span class="separator">|</span><a href="/Dioikitiki-Organosi/Organogramma/" title="\xce\x94\xce\xb9\xce\xbf\xce\xb9\xce\xba\xce\xb7\xcf\x84\xce\xb9\xce\xba\xce\xae \xce\x9f\xcf\x81\xce\xb3\xce\xac\xce\xbd\xcf\x89\xcf\x83\xce\xb7" >\xce\x94\xce\xb9\xce\xbf\xce\xb9\xce\xba\xce\xb7\xcf\x84\xce\xb9\xce\xba\xce\xae \xce\x9f\xcf\x81\xce\xb3\xce\xac\xce\xbd\xcf\x89\xcf\x83\xce\xb7</a><span class="separator">|</span><a href="/Diethneis-Drastiriotites" title="\xce\x94\xce\xb9\xce\xb5\xce\xb8\xce\xbd\xce\xb5\xce\xaf\xcf\x82 \xce\x94\xcf\x81\xce\xb1\xcf\x83\xcf\x84\xce\xb7\xcf\x81\xce\xb9\xcf\x8c\xcf\x84\xce\xb7\xcf\x84\xce\xb5\xcf\x82" >\xce\x94\xce\xb9\xce\xb5\xce\xb8\xce\xbd\xce\xb5\xce\xaf\xcf\x82 \xce\x94\xcf\x81\xce\xb1\xcf\x83\xcf\x84\xce\xb7\xcf\x81\xce\xb9\xcf\x8c\xcf\x84\xce\xb7\xcf\x84\xce\xb5\xcf\x82</a><span class="separator">|</span><a href="/Enimerosi/Simera-sti-Vouli" title="\xce\x95\xce\xbd\xce\xb7\xce\xbc\xce\xad\xcf\x81\xcf\x89\xcf\x83\xce\xb7" >\xce\x95\xce\xbd\xce\xb7\xce\xbc\xce\xad\xcf\x81\xcf\x89\xcf\x83\xce\xb7</a><span class="separator">|</span>\r\n</div>\r\n                \r\n\r\n<div id="submenu">\r\n<div class="section"><h1><a  href="/Vouli-ton-Ellinon/O-Thesmos/" title="\xce\x97 \xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xae: \xce\x9f \xce\x98\xce\xb5\xcf\x83\xce\xbc\xcf\x8c\xcf\x82">\xce\x9f \xce\x98\xce\xb5\xcf\x83\xce\xbc\xcf\x8c\xcf\x82</a></h1><h1><a  href="/Vouli-ton-Ellinon/To-Politevma/Syntagma/" title="\xce\x97 \xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xae: \xce\xa4\xce\xbf \xce\xa0\xce\xbf\xce\xbb\xce\xaf\xcf\x84\xce\xb5\xcf\x85\xce\xbc\xce\xb1">\xce\xa4\xce\xbf \xce\xa0\xce\xbf\xce\xbb\xce\xaf\xcf\x84\xce\xb5\xcf\x85\xce\xbc\xce\xb1</a></h1><h2><a  href="/Vouli-ton-Ellinon/To-Politevma/Syntagma/" title="\xce\xa4\xce\xbf \xce\xa0\xce\xbf\xce\xbb\xce\xaf\xcf\x84\xce\xb5\xcf\x85\xce\xbc\xce\xb1: \xce\xa3\xcf\x8d\xce\xbd\xcf\x84\xce\xb1\xce\xb3\xce\xbc\xce\xb1">\xce\xa3\xcf\x8d\xce\xbd\xcf\x84\xce\xb1\xce\xb3\xce\xbc\xce\xb1</a></h2><h2><a  href="/Vouli-ton-Ellinon/To-Politevma/Syntagmatiki-Istoria/" title="\xce\xa4\xce\xbf \xce\xa0\xce\xbf\xce\xbb\xce\xaf\xcf\x84\xce\xb5\xcf\x85\xce\xbc\xce\xb1: \xce\xa3\xcf\x85\xce\xbd\xcf\x84\xce\xb1\xce\xb3\xce\xbc\xce\xb1\xcf\x84\xce\xb9\xce\xba\xce\xae \xce\x99\xcf\x83\xcf\x84\xce\xbf\xcf\x81\xce\xaf\xce\xb1">\xce\xa3\xcf\x85\xce\xbd\xcf\x84\xce\xb1\xce\xb3\xce\xbc\xce\xb1\xcf\x84\xce\xb9\xce\xba\xce\xae \xce\x99\xcf\x83\xcf\x84\xce\xbf\xcf\x81\xce\xaf\xce\xb1</a></h2><h2><a  href="/Vouli-ton-Ellinon/To-Politevma/Ekloges/" title="\xce\xa4\xce\xbf \xce\xa0\xce\xbf\xce\xbb\xce\xaf\xcf\x84\xce\xb5\xcf\x85\xce\xbc\xce\xb1: \xce\x95\xce\xba\xce\xbb\xce\xbf\xce\xb3\xce\xad\xcf\x82">\xce\x95\xce\xba\xce\xbb\xce\xbf\xce\xb3\xce\xad\xcf\x82</a></h2><ul><li><a style=\'background-color:#4E86BD; color:white;\' href="/Vouli-ton-Ellinon/To-Politevma/Ekloges/Eklogika-apotelesmata-New/" title="\xce\x95\xce\xba\xce\xbb\xce\xbf\xce\xb3\xce\xad\xcf\x82: E\xce\xba\xce\xbb\xce\xbf\xce\xb3\xce\xb9\xce\xba\xce\xac A\xcf\x80\xce\xbf\xcf\x84\xce\xb5\xce\xbb\xce\xad\xcf\x83\xce\xbc\xce\xb1\xcf\x84\xce\xb1">E\xce\xba\xce\xbb\xce\xbf\xce\xb3\xce\xb9\xce\xba\xce\xac A\xcf\x80\xce\xbf\xcf\x84\xce\xb5\xce\xbb\xce\xad\xcf\x83\xce\xbc\xce\xb1\xcf\x84\xce\xb1</a></li></ul><h1><a  href="/Vouli-ton-Ellinon/Kanonismos-tis-Voulis/" title="\xce\x97 \xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xae: \xce\x9a\xce\xb1\xce\xbd\xce\xbf\xce\xbd\xce\xb9\xcf\x83\xce\xbc\xcf\x8c\xcf\x82 \xcf\x84\xce\xb7\xcf\x82 \xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xae\xcf\x82">\xce\x9a\xce\xb1\xce\xbd\xce\xbf\xce\xbd\xce\xb9\xcf\x83\xce\xbc\xcf\x8c\xcf\x82 \xcf\x84\xce\xb7\xcf\x82 \xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xae\xcf\x82</a></h1></div><div class="separator">&nbsp;</div><div class="section"><h1><a  href="/Vouli-ton-Ellinon/ToKtirio/Istoria-Ktiriou/" title="\xce\x97 \xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xae: \xce\xa4\xce\xbf \xce\x9a\xcf\x84\xce\xae\xcf\x81\xce\xb9\xce\xbf">\xce\xa4\xce\xbf \xce\x9a\xcf\x84\xce\xae\xcf\x81\xce\xb9\xce\xbf</a></h1><h2><a  href="/Vouli-ton-Ellinon/ToKtirio/Istoria-Ktiriou/" title="\xce\xa4\xce\xbf \xce\x9a\xcf\x84\xce\xae\xcf\x81\xce\xb9\xce\xbf: \xce\x99\xcf\x83\xcf\x84\xce\xbf\xcf\x81\xce\xaf\xce\xb1 \xce\x9a\xcf\x84\xce\xb7\xcf\x81\xce\xaf\xce\xbf\xcf\x85">\xce\x99\xcf\x83\xcf\x84\xce\xbf\xcf\x81\xce\xaf\xce\xb1 \xce\x9a\xcf\x84\xce\xb7\xcf\x81\xce\xaf\xce\xbf\xcf\x85</a></h2><h2><a  href="/Vouli-ton-Ellinon/ToKtirio/Eikoniki-Periigisi/" title="\xce\xa4\xce\xbf \xce\x9a\xcf\x84\xce\xae\xcf\x81\xce\xb9\xce\xbf: \xce\x95\xce\xb9\xce\xba\xce\xbf\xce\xbd\xce\xb9\xce\xba\xce\xae \xce\xa0\xce\xb5\xcf\x81\xce\xb9\xce\xae\xce\xb3\xce\xb7\xcf\x83\xce\xb7">\xce\x95\xce\xb9\xce\xba\xce\xbf\xce\xbd\xce\xb9\xce\xba\xce\xae \xce\xa0\xce\xb5\xcf\x81\xce\xb9\xce\xae\xce\xb3\xce\xb7\xcf\x83\xce\xb7</a></h2><h2><a  href="/Vouli-ton-Ellinon/ToKtirio/Fotografiko-Archeio/" title="\xce\xa4\xce\xbf \xce\x9a\xcf\x84\xce\xae\xcf\x81\xce\xb9\xce\xbf: \xce\x91\xcf\x81\xcf\x87\xce\xb5\xce\xaf\xce\xbf \xce\xa0\xce\xbf\xce\xbb\xcf\x85\xce\xbc\xce\xad\xcf\x83\xcf\x89\xce\xbd">\xce\x91\xcf\x81\xcf\x87\xce\xb5\xce\xaf\xce\xbf \xce\xa0\xce\xbf\xce\xbb\xcf\x85\xce\xbc\xce\xad\xcf\x83\xcf\x89\xce\xbd</a></h2><h1><a  href="/Vouli-ton-Ellinon/I-Bibliothiki/" title="\xce\x97 \xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xae: \xce\x97 \xce\x92\xce\xb9\xce\xb2\xce\xbb\xce\xb9\xce\xbf\xce\xb8\xce\xae\xce\xba\xce\xb7">\xce\x97 \xce\x92\xce\xb9\xce\xb2\xce\xbb\xce\xb9\xce\xbf\xce\xb8\xce\xae\xce\xba\xce\xb7</a></h1><h2><a  href="/Vouli-ton-Ellinon/I-Bibliothiki/Taftotita/Istoria/" title="\xce\x97 \xce\x92\xce\xb9\xce\xb2\xce\xbb\xce\xb9\xce\xbf\xce\xb8\xce\xae\xce\xba\xce\xb7: \xce\xa4\xce\xb1\xcf\x85\xcf\x84\xcf\x8c\xcf\x84\xce\xb7\xcf\x84\xce\xb1">\xce\xa4\xce\xb1\xcf\x85\xcf\x84\xcf\x8c\xcf\x84\xce\xb7\xcf\x84\xce\xb1</a></h2><h2><a  href="/Vouli-ton-Ellinon/I-Bibliothiki/Sylloges/Biblia/" title="\xce\x97 \xce\x92\xce\xb9\xce\xb2\xce\xbb\xce\xb9\xce\xbf\xce\xb8\xce\xae\xce\xba\xce\xb7: \xce\xa3\xcf\x85\xce\xbb\xce\xbb\xce\xbf\xce\xb3\xce\xad\xcf\x82">\xce\xa3\xcf\x85\xce\xbb\xce\xbb\xce\xbf\xce\xb3\xce\xad\xcf\x82</a></h2><h2><a  href="/Vouli-ton-Ellinon/I-Bibliothiki/Koinovouleftiki-Syllogi/Eisigitikes-Ektheseis/" title="\xce\x97 \xce\x92\xce\xb9\xce\xb2\xce\xbb\xce\xb9\xce\xbf\xce\xb8\xce\xae\xce\xba\xce\xb7: \xce\x9a\xce\xbf\xce\xb9\xce\xbd\xce\xbf\xce\xb2\xce\xbf\xcf\x85\xce\xbb\xce\xb5\xcf\x85\xcf\x84\xce\xb9\xce\xba\xce\xae \xce\xa3\xcf\x85\xce\xbb\xce\xbb\xce\xbf\xce\xb3\xce\xae">\xce\x9a\xce\xbf\xce\xb9\xce\xbd\xce\xbf\xce\xb2\xce\xbf\xcf\x85\xce\xbb\xce\xb5\xcf\x85\xcf\x84\xce\xb9\xce\xba\xce\xae \xce\xa3\xcf\x85\xce\xbb\xce\xbb\xce\xbf\xce\xb3\xce\xae</a></h2></div><div class="section"><h2><a  href="/Vouli-ton-Ellinon/I-Bibliothiki/Katalogoi/Ilektronikos-Katalogos/" title="\xce\x97 \xce\x92\xce\xb9\xce\xb2\xce\xbb\xce\xb9\xce\xbf\xce\xb8\xce\xae\xce\xba\xce\xb7: \xce\x9a\xce\xb1\xcf\x84\xce\xac\xce\xbb\xce\xbf\xce\xb3\xce\xbf\xce\xb9">\xce\x9a\xce\xb1\xcf\x84\xce\xac\xce\xbb\xce\xbf\xce\xb3\xce\xbf\xce\xb9</a></h2><h2><a  href="/Vouli-ton-Ellinon/I-Bibliothiki/Psifiaki-Bibliothiki/" title="\xce\x97 \xce\x92\xce\xb9\xce\xb2\xce\xbb\xce\xb9\xce\xbf\xce\xb8\xce\xae\xce\xba\xce\xb7: \xce\xa8\xce\xb7\xcf\x86\xce\xb9\xce\xb1\xce\xba\xce\xae \xce\x92\xce\xb9\xce\xb2\xce\xbb\xce\xb9\xce\xbf\xce\xb8\xce\xae\xce\xba\xce\xb7">\xce\xa8\xce\xb7\xcf\x86\xce\xb9\xce\xb1\xce\xba\xce\xae \xce\x92\xce\xb9\xce\xb2\xce\xbb\xce\xb9\xce\xbf\xce\xb8\xce\xae\xce\xba\xce\xb7</a></h2></div>\r\n</div>\r\n            </div>\r\n            <div class="section-separator">\r\n            </div>\r\n            <div class="columns">\r\n                <div id="leftcolumn">\r\n                    <div id="ctl00_BannerLinks1_divLinksBox" style="padding-top:10px;" class="box linksbox">\r\n<h1 class="boxtitle">\xce\xa3\xcf\x8d\xce\xbd\xce\xb4\xce\xb5\xcf\x83\xce\xbc\xce\xbf\xce\xb9</h1>\r\n<div class="container">\r\n<div style="background-color:White;text-align:center">\r\n    <div class="bannercontainer"><a href="http://library.parliament.gr" onclick="window.open(this.href, \'_blank\');return false;"><img src="/UserFiles/683211ad-ac7d-4669-b8d1-bc1bef970455/library_1.jpg" alt="\xce\x92\xce\xb9\xce\xb2\xce\xbb\xce\xb9\xce\xbf\xce\xb8\xce\xae\xce\xba\xce\xb7" id="banner_file404d553e-3789-445a-9c87-6cbea177a7ce" style="border-style: none;" /></a></div><div class="bannercontainer"><a href="http://www.hellenicparliament.gr/Enimerosi/Grafeio-Typou" onclick="window.open(this.href, \'_blank\');return false;"><img src="/UserFiles/683211ad-ac7d-4669-b8d1-bc1bef970455/GrafeioTypou.jpg" alt="\xce\x93\xcf\x81\xce\xb1\xcf\x86\xce\xb5\xce\xaf\xce\xbf \xce\xa4\xcf\x8d\xcf\x80\xce\xbf\xcf\x85 \xce\xba\xce\xb1\xce\xb9 \xce\x9a\xce\xbf\xce\xb9\xce\xbd\xce\xbf\xce\xb2\xce\xbf\xcf\x85\xce\xbb\xce\xb5\xcf\x85\xcf\x84\xce\xb9\xce\xba\xce\xae\xcf\x82 \xce\xa0\xce\xbb\xce\xb7\xcf\x81\xce\xbf\xcf\x86\xcf\x8c\xcf\x81\xce\xb7\xcf\x83\xce\xb7\xcf\x82" id="banner_fileb09b4588-6e72-42ca-b5cb-1610c6978dd3" style="border-style: none;" /></a></div><div class="bannercontainer"><a href="http://www.hellenicparliament.gr/Enimerosi/Vouli-Tileorasi"><img src="/UserFiles/683211ad-ac7d-4669-b8d1-bc1bef970455/vouliTvSmall120x65.png" alt="\xce\xa4\xce\xb7\xce\xbb\xce\xb5\xcf\x8c\xcf\x81\xce\xb1\xcf\x83\xce\xb7 \xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xae\xcf\x82" id="banner_file9fff9176-82fe-4755-bf21-9ffd067fb9ee" style="border-style: none;" /></a></div><div class="bannercontainer"><a href="http://yeep.parliament.gr/" onclick="window.open(this.href, \'_blank\');return false;"><img src="/UserFiles/683211ad-ac7d-4669-b8d1-bc1bef970455/yeepLogo.jpg" alt="\xce\xa5\xce\x95\xce\x95\xce\xa0" id="banner_fileebb2ff99-fabb-4c2a-864c-a91deeca591b" style="border-style: none;" /></a></div><div class="bannercontainer"><a href="http://www.pbo.gr/" onclick="window.open(this.href, \'_blank\');return false;"><img src="/UserFiles/683211ad-ac7d-4669-b8d1-bc1bef970455/\xce\x93\xce\xa0\xce\x9a\xce\x92-\xce\x95\xce\x9b-EN.png" alt="\xce\x93\xcf\x81\xce\xb1\xcf\x86\xce\xb5\xce\xaf\xce\xbf \xce\xa0\xcf\x81\xce\xbf\xcf\x8b\xcf\x80\xce\xbf\xce\xbb\xce\xbf\xce\xb3\xce\xb9\xcf\x83\xce\xbc\xce\xbf\xcf\x8d \xcf\x84\xce\xbf\xcf\x85 \xce\x9a\xcf\x81\xce\xac\xcf\x84\xce\xbf\xcf\x85\xcf\x82 \xcf\x83\xcf\x84\xce\xb7 \xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xae" id="banner_filed393f21e-27fe-4a7b-896d-2efacb5fecea" style="border-style: none;" /></a></div><div class="bannercontainer"><a href="http://foundation.parliament.gr" onclick="window.open(this.href, \'_blank\');return false;"><img src="/UserFiles/683211ad-ac7d-4669-b8d1-bc1bef970455/idrymabanner.jpg" alt="\xce\x8a\xce\xb4\xcf\x81\xcf\x85\xce\xbc\xce\xb1 \xcf\x84\xce\xb7\xcf\x82 \xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xae\xcf\x82" id="banner_filecc68ca8e-b44f-4477-a93a-67722e91062f" style="border-style: none;" /></a></div><div class="bannercontainer"><a href="http://www.efivoi.gr/" onclick="window.open(this.href, \'_blank\');return false;"><img src="/UserFiles/683211ad-ac7d-4669-b8d1-bc1bef970455/VouliEfivonGR.jpg" alt="\xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xae \xcf\x84\xcf\x89\xce\xbd \xce\x95\xcf\x86\xce\xae\xce\xb2\xcf\x89\xce\xbd" id="banner_file4348d4ae-c116-4f66-94e0-88c0be09318f" style="border-style: none;" /></a></div>\r\n    </div>\r\n    \r\n</div>\r\n</div>\r\n                </div>\r\n                <div id="middlecolumnwide">\r\n                    <div class="box pagebox">\r\n                        <h1 class="boxtitle">\r\n                            <a href="/Vouli-ton-Ellinon/O-Thesmos/" title="\xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xae \xcf\x84\xcf\x89\xce\xbd \xce\x95\xce\xbb\xce\xbb\xce\xae\xce\xbd\xcf\x89\xce\xbd-\xce\x97 \xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xae">\xce\x97 \xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xae</a> : <a href="/Vouli-ton-Ellinon/To-Politevma/Syntagma/" title="\xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xae \xcf\x84\xcf\x89\xce\xbd \xce\x95\xce\xbb\xce\xbb\xce\xae\xce\xbd\xcf\x89\xce\xbd-\xce\xa4\xce\xbf \xce\xa0\xce\xbf\xce\xbb\xce\xaf\xcf\x84\xce\xb5\xcf\x85\xce\xbc\xce\xb1">\xce\xa4\xce\xbf \xce\xa0\xce\xbf\xce\xbb\xce\xaf\xcf\x84\xce\xb5\xcf\x85\xce\xbc\xce\xb1</a> : <a href="/Vouli-ton-Ellinon/To-Politevma/Ekloges" title="\xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xae \xcf\x84\xcf\x89\xce\xbd \xce\x95\xce\xbb\xce\xbb\xce\xae\xce\xbd\xcf\x89\xce\xbd-\xce\x95\xce\xba\xce\xbb\xce\xbf\xce\xb3\xce\xad\xcf\x82">\xce\x95\xce\xba\xce\xbb\xce\xbf\xce\xb3\xce\xad\xcf\x82</a>\r\n\r\n                        </h1>\r\n                        <div class="container">\r\n                            <div class="pagecontent"><a name="skippagecontent" id="skippagecontent"></a>\r\n                                <h1>\xce\x95\xce\xba\xce\xbb\xce\xbf\xce\xb3\xce\xb9\xce\xba\xce\xac \xce\x91\xcf\x80\xce\xbf\xcf\x84\xce\xb5\xce\xbb\xce\xad\xcf\x83\xce\xbc\xce\xb1\xcf\x84\xce\xb1</h1>\r\n<p><a name="top_of_page"></a></p>\r\n\r\n<p><a href="#\xce\x99\xce\x96">\xce\x95\xce\xba\xce\xbb\xce\xbf\xce\xb3\xce\xb9\xce\xba\xce\xae \xce\x91\xce\xbd\xce\xb1\xce\xbc\xce\xad\xcf\x84\xcf\x81\xce\xb7\xcf\x83\xce\xb7 <strong>20/09/2015</strong></a>, \xce\x99\xce\x96\' \xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xb5\xcf\x85\xcf\x84\xce\xb9\xce\xba\xce\xae \xce\xa0\xce\xb5\xcf\x81\xce\xaf\xce\xbf\xce\xb4\xce\xbf\xcf\x82 20/09/2015 \xce\xad\xcf\x89\xcf\x82 ...<br />\r\n<br />\r\n<a href="#\xce\x99\xce\xa3\xce\xa4">\xce\x95\xce\xba\xce\xbb\xce\xbf\xce\xb3\xce\xb9\xce\xba\xce\xae \xce\x91\xce\xbd\xce\xb1\xce\xbc\xce\xad\xcf\x84\xcf\x81\xce\xb7\xcf\x83\xce\xb7 <strong>25/01/2015</strong></a>, \xce\x99\xce\xa3\xce\xa4\' \xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xb5\xcf\x85\xcf\x84\xce\xb9\xce\xba\xce\xae \xce\xa0\xce\xb5\xcf\x81\xce\xaf\xce\xbf\xce\xb4\xce\xbf\xcf\x82 25/1/2015 \xce\xad\xcf\x89\xcf\x82 28/08/2015<br />\r\n<br />\r\n<a href="#IE">\xce\x95\xce\xba\xce\xbb\xce\xbf\xce\xb3\xce\xb9\xce\xba\xce\xae \xce\x91\xce\xbd\xce\xb1\xce\xbc\xce\xad\xcf\x84\xcf\x81\xce\xb7\xcf\x83\xce\xb7 <strong>17/6/2012</strong></a>, \xce\x99\xce\x95\' \xce\x92\xce\xbf\xcf\x85\xce\xbb\xce\xb5\xcf\x85\xcf\x84\xce\xb9\xce\xba\xce\xae \xce\xa0\xce\xb5\xcf\x81\xce\xaf\xce\xbf\xce\xb4\xce\xbf\xcf\x82 17/06/2012 \xce\xad\xcf\x89\xcf\x82 31/12/2014<br />\r\n<br />\r\n<a href="#ID">\xce\x95\xce\xba\xce\xbb\xce\xbf\xce\xb3\xce\xb9\xce\xba\xce\xae \xce\x91\

In [6]:
soup_doc = BeautifulSoup(raw_html, "html.parser")
print(type(soup_doc))

<class 'bs4.BeautifulSoup'>

In [7]:
print(soup_doc.prettify())
#print(soup_doc)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="el" xml:lang="el" xmlns="http://www.w3.org/1999/xhtml">
 <head id="ctl00_Head1">
  <title>

  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="text/css" http-equiv="Content-Style-Type"/>
  <link href="/styles/default.css" media="screen" rel="Stylesheet" type="text/css"/>
  <link href="/styles/inner.css" media="screen" rel="Stylesheet" type="text/css"/>
  <link href="/styles/print.css" media="print" rel="Stylesheet" type="text/css"/>
  <link href="/styles/jquery-ui.css" media="screen" rel="Stylesheet" type="text/css"/>
  <script src="/scripts/jquery.js" type="text/javascript">
  </script>
  <script src="/scripts/jquery-ui.js" type="text/javascript">
  </script>
  <script src="/scripts/common.js" type="text/javascript">
  </script>
  <script src="/scripts/href_utils.js" type="text/javascript">
  </script>
  <script src="/scripts/swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   /* <![CDATA[ */
        var applicationRoot = '/';
    /* ]]> */
  </script>
 </head>
 <body>
  <form action="/Vouli-ton-Ellinon/To-Politevma/Ekloges/Eklogika-apotelesmata-New/" id="aspnetForm" method="post" name="aspnetForm">
   <div>
    <input id="__VIEWSTATE" name="__VIEWSTATE" type="hidden" value="/wEPDwUBMA9kFgJmD2QWAgIDEGRkFgQCAQ9kFgJmDxYCHgRUZXh0BRo8YSBocmVmPSIvZW4vIj5FbmdsaXNoPC9hPmQCEQ9kFgRmDxYCHwAFWTxhIGhyZWY9Ii90ZXJtc09mVXNlIiBhbHQ9IjwlPSBSZXNvdXJjZXMuTGl0ZXJhbHMudGVybXNPZlVzZSU+Ij7OjM+Bzr/OuSDPh8+Bzq7Pg863z4I8L2E+ZAIBDxYCHwAFezxhIGhyZWY9Ii9jbGFzc2lmaWVkUHJvdGVjdGlvbiIgYWx0PSI8JT0gUmVzb3VyY2VzLkxpdGVyYWxzLmNsYXNzaWZpZWRQcm90ZWN0aW9uJT4iPs6gz4HOv8+Dz4nPgM65zrrOrCDOtM61zrTOv868zq3Ovc6xPC9hPmQYAQUeX19Db250cm9sc1JlcXVpcmVQb3N0QmFja0tleV9fFgEFGmN0bDAwJHRvb2xzMSRidG5UZXh0U2VhcmNopncTvIv3oEhIpNXh56l6qwOPl/o="/>
   </div>
   <div>
    <input id="__VIEWSTATEGENERATOR" name="__VIEWSTATEGENERATOR" type="hidden" value="13244B6A"/>
    <input id="__EVENTVALIDATION" name="__EVENTVALIDATION" type="hidden" value="/wEWAwKC3M+YAQLd0KKTBQKP/cqFBQ6b9NXw6pksDpgzbJF/4Ezy1bYL"/>
   </div>
   <div id="container">
    <div class="skipnav">
     <a href="#basiccontent">

     </a>
    </div>
    <div id="topmenu">
     <!--<a href="/en/">English</a><span>|</span>-->
     <!-- <a href="/el/"> </a> -->
     <a href="/en/">
      English
     </a>
     |
     <a href="/fr/">
      Franais
     </a>
     |
     <a href="/el/">

     </a>
     |
     <a href="/contact/" title="   - ">

     </a>
     |
     <a href="/sitemap/">

     </a>
     |
     <a href="/help/">

     </a>
     <span class="separator">
      <span>
       |
      </span>
     </span>
    </div>
    <div id="page">
     <div id="header">
      <div id="logo">
       <a href="/el/">
        <img alt="  " height="70" src="/images/logo_el.gif"/>
       </a>
       <div id="tools">
        <div class="lblSearch">
         <label for="ctl00_tools1_txtSearch" id="ctl00_tools1_lblSearch">

         </label>
        </div>
        <div class="txtSearch">
         <input id="ctl00_tools1_txtSearch" name="ctl00$tools1$txtSearch" type="text"/>
        </div>
        <div class="btnSearch">
         <input alt="" class="smallbutton" id="ctl00_tools1_btnTextSearch" name="ctl00$tools1$btnTextSearch" src="/images/go.gif" style="border-width:0px;" type="image"/>
        </div>
       </div>
      </div>
      <div id="menu">
       <a href="/Vouli-ton-Ellinon/O-Thesmos/" title=" ">

       </a>
       <span class="separator">
        |
       </span>
       <a href="/Organosi-kai-Leitourgia/Proedreio" title=" &amp; ">
         &amp;
       </a>
       <span class="separator">
        |
       </span>
       <a href="/Vouleftes" title="">

       </a>
       <span class="separator">
        |
       </span>
       <a href="/Dioikitiki-Organosi/Organogramma/" title=" ">

       </a>
       <span class="separator">
        |
       </span>
       <a href="/Diethneis-Drastiriotites" title=" ">

       </a>
       <span class="separator">
        |
       </span>
       <a href="/Enimerosi/Simera-sti-Vouli" title="">

       </a>
       <span class="separator">
        |
       </span>
      </div>
      <div id="submenu">
       <div class="section">
        <h1>
         <a href="/Vouli-ton-Ellinon/O-Thesmos/" title=" :  ">

         </a>
        </h1>
        <h1>
         <a href="/Vouli-ton-Ellinon/To-Politevma/Syntagma/" title=" :  ">

         </a>
        </h1>
        <h2>
         <a href="/Vouli-ton-Ellinon/To-Politevma/Syntagma/" title=" : ">

         </a>
        </h2>
        <h2>
         <a href="/Vouli-ton-Ellinon/To-Politevma/Syntagmatiki-Istoria/" title=" :  ">

         </a>
        </h2>
        <h2>
         <a href="/Vouli-ton-Ellinon/To-Politevma/Ekloges/" title=" : ">

         </a>
        </h2>
        <ul>
         <li>
          <a href="/Vouli-ton-Ellinon/To-Politevma/Ekloges/Eklogika-apotelesmata-New/" style="background-color:#4E86BD; color:white;" title=": E A">
           E A
          </a>
         </li>
        </ul>
        <h1>
         <a href="/Vouli-ton-Ellinon/Kanonismos-tis-Voulis/" title=" :   ">

         </a>
        </h1>
       </div>
       <div class="separator">
       </div>
       <div class="section">
        <h1>
         <a href="/Vouli-ton-Ellinon/ToKtirio/Istoria-Ktiriou/" title=" :  ">

         </a>
        </h1>
        <h2>
         <a href="/Vouli-ton-Ellinon/ToKtirio/Istoria-Ktiriou/" title=" :  ">

         </a>
        </h2>
        <h2>
         <a href="/Vouli-ton-Ellinon/ToKtirio/Eikoniki-Periigisi/" title=" :  ">

         </a>
        </h2>
        <h2>
         <a href="/Vouli-ton-Ellinon/ToKtirio/Fotografiko-Archeio/" title=" :  ">

         </a>
        </h2>
        <h1>
         <a href="/Vouli-ton-Ellinon/I-Bibliothiki/" title=" :  ">

         </a>
        </h1>
        <h2>
         <a href="/Vouli-ton-Ellinon/I-Bibliothiki/Taftotita/Istoria/" title=" : ">

         </a>
        </h2>
        <h2>
         <a href="/Vouli-ton-Ellinon/I-Bibliothiki/Sylloges/Biblia/" title=" : ">

         </a>
        </h2>
        <h2>
         <a href="/Vouli-ton-Ellinon/I-Bibliothiki/Koinovouleftiki-Syllogi/Eisigitikes-Ektheseis/" title=" :  ">

         </a>
        </h2>
       </div>
       <div class="section">
        <h2>
         <a href="/Vouli-ton-Ellinon/I-Bibliothiki/Katalogoi/Ilektronikos-Katalogos/" title=" : ">

         </a>
        </h2>
        <h2>
         <a href="/Vouli-ton-Ellinon/I-Bibliothiki/Psifiaki-Bibliothiki/" title=" :  ">

         </a>
        </h2>
       </div>
      </div>
     </div>
     <div class="section-separator">
     </div>
     <div class="columns">
      <div id="leftcolumn">
       <div class="box linksbox" id="ctl00_BannerLinks1_divLinksBox" style="padding-top:10px;">
        <h1 class="boxtitle">

        </h1>
        <div class="container">
         <div style="background-color:White;text-align:center">
          <div class="bannercontainer">
           <a href="http://library.parliament.gr" onclick="window.open(this.href, '_blank');return false;">
            <img alt="" id="banner_file404d553e-3789-445a-9c87-6cbea177a7ce" src="/UserFiles/683211ad-ac7d-4669-b8d1-bc1bef970455/library_1.jpg" style="border-style: none;"/>
           </a>
          </div>
          <div class="bannercontainer">
           <a href="http://www.hellenicparliament.gr/Enimerosi/Grafeio-Typou" onclick="window.open(this.href, '_blank');return false;">
            <img alt="    " id="banner_fileb09b4588-6e72-42ca-b5cb-1610c6978dd3" src="/UserFiles/683211ad-ac7d-4669-b8d1-bc1bef970455/GrafeioTypou.jpg" style="border-style: none;"/>
           </a>
          </div>
          <div class="bannercontainer">
           <a href="http://www.hellenicparliament.gr/Enimerosi/Vouli-Tileorasi">
            <img alt=" " id="banner_file9fff9176-82fe-4755-bf21-9ffd067fb9ee" src="/UserFiles/683211ad-ac7d-4669-b8d1-bc1bef970455/vouliTvSmall120x65.png" style="border-style: none;"/>
           </a>
          </div>
          <div class="bannercontainer">
           <a href="http://yeep.parliament.gr/" onclick="window.open(this.href, '_blank');return false;">
            <img alt="" id="banner_fileebb2ff99-fabb-4c2a-864c-a91deeca591b" src="/UserFiles/683211ad-ac7d-4669-b8d1-bc1bef970455/yeepLogo.jpg" style="border-style: none;"/>
           </a>
          </div>
          <div class="bannercontainer">
           <a href="http://www.pbo.gr/" onclick="window.open(this.href, '_blank');return false;">
            <img alt="     " id="banner_filed393f21e-27fe-4a7b-896d-2efacb5fecea" src="/UserFiles/683211ad-ac7d-4669-b8d1-bc1bef970455/--EN.png" style="border-style: none;"/>
           </a>
          </div>
          <div class="bannercontainer">
           <a href="http://foundation.parliament.gr" onclick="window.open(this.href, '_blank');return false;">
            <img alt="  " id="banner_filecc68ca8e-b44f-4477-a93a-67722e91062f" src="/UserFiles/683211ad-ac7d-4669-b8d1-bc1bef970455/idrymabanner.jpg" style="border-style: none;"/>
           </a>
          </div>
          <div class="bannercontainer">
           <a href="http://www.efivoi.gr/" onclick="window.open(this.href, '_blank');return false;">
            <img alt="  " id="banner_file4348d4ae-c116-4f66-94e0-88c0be09318f" src="/UserFiles/683211ad-ac7d-4669-b8d1-bc1bef970455/VouliEfivonGR.jpg" style="border-style: none;"/>
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div id="middlecolumnwide">
       <div class="box pagebox">
        <h1 class="boxtitle">
         <a href="/Vouli-ton-Ellinon/O-Thesmos/" title="  - ">

         </a>
         :
         <a href="/Vouli-ton-Ellinon/To-Politevma/Syntagma/" title="  - ">

         </a>
         :
         <a href="/Vouli-ton-Ellinon/To-Politevma/Ekloges" title="  -">

         </a>
        </h1>
        <div class="container">
         <div class="pagecontent">
          <a id="skippagecontent" name="skippagecontent">
          </a>
          <h1>

          </h1>
          <p>
           <a name="top_of_page">
           </a>
          </p>
          <p>
           <a href="#">

            <strong>
             20/09/2015
            </strong>
           </a>
           , '   20/09/2015  ...
           <br/>
           <br/>
           <a href="#">

            <strong>
             25/01/2015
            </strong>
           </a>
           , '   25/1/2015  28/08/2015
           <br/>
           <br/>
           <a href="#IE">

            <strong>
             17/6/2012
            </strong>
           </a>
           , '   17/06/2012  31/12/2014
           <br/>
           <br/>
           <a href="#ID">

            <strong>
             6/5/2012
            </strong>
           </a>
           , '   6/5/2012  19/05/2012
           <br/>
           <br/>
           <a href="#IG">

            <strong>
             4/10/2009
            </strong>
           </a>
           , '   4/10/2009  11/4/2012
           <br/>
           <br/>
           <a href="#IB">

            <strong>
             16/9/2007
            </strong>
           </a>
           , '  , ' , 16/9/2007  7/9/2009
           <br/>
           <br/>
           <a href="#IA">

            <strong>
             7/3/2004
            </strong>
           </a>
           , '   7/3/2004  18/8/2007
           <br/>
           <br/>
           <a href="#I">

            <strong>
             9/4/2000
            </strong>
           </a>
           , '  , ' , 9/4/2000  11/2/2004
           <br/>
           <br/>
           <a href="#U">

            <strong>
             22/9/1996
            </strong>
           </a>
           , '   22/9/1996  14/3/2000
           <br/>
           <br/>
           <a href="#H">

            <strong>
             10/10/1993
            </strong>
           </a>
           , '   10/10/1993  24/8/1996
           <br/>
           <br/>
           <a href="#Z">

            <strong>
             8/4/1990
            </strong>
           </a>
           , '   8/4/1990  11/9/1993
           <br/>
           <br/>
           <a href="#ST">

            <strong>
             5/11/1989
            </strong>
           </a>
           , '   5/11/1989  12/3/1990
           <br/>
           <br/>
           <a href="#E">

            <strong>
             18/6/1989
            </strong>
           </a>
           , '   18/6/1989  12/10/1989
           <br/>
           <br/>
           <a href="#D">

            <strong>
             2/6/1985
            </strong>
           </a>
           , '  , ' , 2/6/1985  2/6/1989
           <br/>
           <br/>
           <a href="#C">

            <strong>
             18/10/1981
            </strong>
           </a>
           , '   18/10/1981  7/5/1985
           <br/>
           <br/>
           <a href="#B">

            <strong>
             20/11/1977
            </strong>
           </a>
           , '   20/11/1977  19/9/1981
           <br/>
           <br/>
           <a href="#A">

            <strong>
             17/11/1974
            </strong>
           </a>
           , '  , ' , 17/11/1974  22/10/1977
          </p>
          <p>
          </p>
          <p>
                 (1822-1974):
           <a href="/UserFiles/f3c70a23-7696-49db-9148-f24dce6a27c8/1822-1935.pdf" target="_blank">
            <img alt=" ,    1822-1935 " src="/UserFiles/f3c70a23-7696-49db-9148-f24dce6a27c8/pdf.png" style="height:16px; width:16px" title=" ,    1822-1935 "/>
           </a>
           <a href="/UserFiles/f3c70a23-7696-49db-9148-f24dce6a27c8/1929-1974.pdf" target="_blank">
            <img alt="    1929-1974" src="/UserFiles/f3c70a23-7696-49db-9148-f24dce6a27c8/pdf.png" style="height:16px; width:16px" title="    1929-1974"/>
           </a>
           <br/>
           <br/>
          </p>
          <p>
           <a id="" name="">
           </a>
          </p>
          <table border="1" cellpadding="0" cellspacing="1">
           <caption>
            <br/>

            <strong>
             20/9/2015
            </strong>
            <br/>
            Z'   20/9/2015  ....
           </caption>
           <tbody>
            <tr style="text-align: center;">
             <th scope="col">

             </th>
             <th scope="col">

             </th>
             <th scope="col">

             </th>
             <th scope="col">
               (%)
             </th>
             <th scope="col">

             </th>
            </tr>
            <tr>
             <td>

             </td>
             <td>

             </td>
             <td style="text-align: right;">
              145
             </td>
             <td style="text-align: right;">
              35,46
             </td>
             <td style="text-align: right;">
              1.925.904
             </td>
            </tr>
            <tr>
             <td>

             </td>
             <td>
                -
             </td>
             <td style="text-align: right;">
              75
             </td>
             <td style="text-align: right;">
              28,10
             </td>
             <td style="text-align: right;">
              1.526.205
             </td>
            </tr>
            <tr>
             <td>

             </td>
             <td>

             </td>
             <td style="text-align: right;">
              18
             </td>
             <td style="text-align: right;">
              6,99
             </td>
             <td style="text-align: right;">
              379.581
             </td>
            </tr>
            <tr>
             <td>
                (... - ..)
             </td>
             <td>

             </td>
             <td style="text-align: right;">
              17
             </td>
             <td style="text-align: right;">
              6,28
             </td>
             <td style="text-align: right;">
              341.390
             </td>
            </tr>
            <tr>
             <td>

             </td>
             <td>

             </td>
             <td style="text-align: right;">
              15
             </td>
             <td style="text-align: right;">
              5,55
             </td>
             <td style="text-align: right;">
              301.632
             </td>
            </tr>
            <tr>
             <td>

             </td>
             <td>

             </td>
             <td style="text-align: right;">
              11
             </td>
             <td style="text-align: right;">
              4,09
             </td>
             <td style="text-align: right;">
              222.166
             </td>
            </tr>
            <tr>
             <td>
                -
              <br/>

             </td>
             <td>

             </td>
             <td style="text-align: right;">
              10
             </td>
             <td style="text-align: right;">
              3,69
             </td>
             <td style="text-align: right;">
              200.423
             </td>
            </tr>
            <tr>
             <td>

             </td>
             <td>

             </td>
             <td style="text-align: right;">
              9
             </td>
             <td style="text-align: right;">
              3,43
             </td>
             <td style="text-align: right;">
              186.457
             </td>
            </tr>
           </tbody>
          </table>
          <p>
           (
           <a href="http://www.hellenicparliament.gr/Organosi-kai-Leitourgia/Olomeleia/Synthesi-IZ-Periodou/">
              Z'
           </a>
           )
           <br/>
           <br/>
          </p>
          <p>
           <a id="" name="">
           </a>
          </p>
          <table border="1" cellpadding="0" cellspacing="1">
           <caption>
            <br/>

            <strong>
             25/1/2015
            </strong>
            <br/>
            '   25/1/2015  28/08/2015
           </caption>
           <tbody>
            <tr style="text-align: center;">
             <th scope="col">

             </th>
             <th scope="col">

             </th>
             <th scope="col">

             </th>
             <th scope="col">
               (%)
             </th>
             <th scope="col">

             </th>
            </tr>
            <tr>
             <td>

             </td>
             <td>

             </td>
             <td style="text-align: right;">
              149
             </td>
             <td style="text-align: right;">
              36,34
             </td>
             <td style="text-align: right;">
              2.246.064
             </td>
            </tr>
            <tr>
             <td>

             </td>
             <td>

             </td>
             <td style="text-align: right;">
              76
             </td>
             <td style="text-align: right;">
              27,81
             </td>
             <td style="text-align: right;">
              1.718.815
             </td>
            </tr>
            <tr>
             <td>

             </td>
             <td>

             </td>
             <td style="text-align: right;">
              17
             </td>
             <td style="text-align: right;">
              6,28
             </td>
             <td style="text-align: right;">
              388.447
             </td>
            </tr>
            <tr>
             <td>

             </td>
             <td>

             </td>
             <td style="text-align: right;">
              17
             </td>
             <td style="text-align: right;">
              6,05
             </td>
             <td style="text-align: right;">
              373.868

In [8]:
soup_doc.title

<title>

</title>

In [9]:
page_trs = soup_doc.find_all('tr')
len(page_trs)

109

In [10]:
for page_tr in page_trs:
    print(page_tr.text)

 (%)





145
35,46
1.925.904



  -
75
28,10
1.526.205




18
6,99
379.581


  (... - ..)

17
6,28
341.390




15
5,55
301.632




11
4,09
222.166


  -


10
3,69
200.423




9
3,43
186.457





 (%)





149
36,34
2.246.064




76
27,81
1.718.815




17
6,28
388.447




17
6,05
373.868




15
5,47
338.138



			,    ,
			,  ,
			 ,   -

13
4,75
293.371


   -

13
4,68
289.482





 (%)





129
29,66




1.825.514






1.825.514


 -

71
26,89
1.655.042




33
12,28
756.045




20
7,51
462.410




18
6,92
426.027



 -
17
6,25
384.971




12
4,5
277.214





 (%)





108
18,85




1.192.103






1.192.103




52
16,79
1.061.929




41
13,18
833.452




33
10,62
671.325




26
8,48
536.104


  -

21
6,97
440.985



 -
19
6,11
386.394





 (%)





160
43,94
2.995.978




			( 30/11/2009     )
91
33,49
2.283.562




21
7,53
513.787




15
5,62
383.522




13
4,59
313.231





 (%)





152
41,84
2.994.979




102
38,10
2.727.279




22
8,15
583.750




14
5,04
361.101




10
3,80
271.809





 (%)





165
45,36
3.360.424




117
40,55
3.003.988




12
5,90
436.81




			( 12/12/2004
			   )
6
3,26
241.714





 (%)





158
43,80
3.008.081




125
42,73
2.934.948




11
5,52
379.280




6
3,2
219.988





 (%)





162
41,49
2.814.779




108
38,12
2.586.089




11
5,6
380.046




10
5,12
347.236




9
4,44
300.954





 (%)





170
46,88
3.235.017




111
39,30
2.711.737




10
4,88
336.460




9
4,54
313.001





 (%)





150
46,89
3.088.137




123
38,61
2.543.042




19
10,28
677.059


  -

1
0,77
50.868




1
0,67
44.077


:
			)
			)
			) ,

6







 (%)





148
46,19
3.093.479




128
40,68
2.724.334




21
10,97
734.611


  -

1
0,58
39.158


:
			)
			) ,

2







 (%)





145
44,28
2.887.488




125
39,13
2.551.518




28
13,13
855.944




1
1,01
65.614




1
0,39
25.099





 (%)





161
45,82
2.916.735




126
40,84
2.599.681




12
9,89
629.525





1
1,84
117.135





 (%)





172
48,07
2.726.309




115
35,87
2.034.496




13
10,93
620.302





 (%)





171
41,84
2.146.365




93
25,34
1.300.025




16
11,95
612.786




11
9,36
480.272




5
6,82
349.988


  &

2
2,72
139.356




2
1,08
55.494





 (%)





220
54,37
2.669.133




60
20,42
1.002.559




12
13,58
666.413



			)
			)    (.)
			)

			.
			. .
			.  .
8
9,47
464.787

## 2015, September

In [11]:
table2015_1 = soup_doc.find_all('tbody')[0]
table2015_1

<tbody>
<tr style="text-align: center;">
<th scope="col"></th>
<th scope="col"> </th>
<th scope="col"></th>
<th scope="col"> (%)</th>
<th scope="col"></th>
</tr>
<tr>
<td>  </td>
<td>   </td>
<td style="text-align: right;">145</td>
<td style="text-align: right;">35,46</td>
<td style="text-align: right;">1.925.904</td>
</tr>
<tr>
<td> </td>
<td>  -   </td>
<td style="text-align: right;">75</td>
<td style="text-align: right;">28,10</td>
<td style="text-align: right;">1.526.205</td>
</tr>
<tr>
<td>   </td>
<td>   </td>
<td style="text-align: right;">18</td>
<td style="text-align: right;">6,99</td>
<td style="text-align: right;">379.581</td>
</tr>
<tr>
<td>  (... - ..)</td>
<td>   </td>
<td style="text-align: right;">17</td>
<td style="text-align: right;">6,28</td>
<td style="text-align: right;">341.390</td>
</tr>
<tr>
<td>  </td>
<td>   </td>
<td style="text-align: right;">15</td>
<td style="text-align: right;">5,55</td>
<td style="text-align: right;">301.632</td>
</tr>
<tr>
<td> </td>
<td>   </td>
<td style="text-align: right;">11</td>
<td style="text-align: right;">4,09</td>
<td style="text-align: right;">222.166</td>
</tr>
<tr>
<td>  - <br/>
			  </td>
<td>   </td>
<td style="text-align: right;">10</td>
<td style="text-align: right;">3,69</td>
<td style="text-align: right;">200.423</td>
</tr>
<tr>
<td> </td>
<td>   </td>
<td style="text-align: right;">9</td>
<td style="text-align: right;">3,43</td>
<td style="text-align: right;">186.457</td>
</tr>
</tbody>

In [12]:
print(table2015_1.text)

 (%)





145
35,46
1.925.904



  -
75
28,10
1.526.205




18
6,99
379.581


  (... - ..)

17
6,28
341.390




15
5,55
301.632




11
4,09
222.166


  -


10
3,69
200.423




9
3,43
186.457

In [13]:
rows = table2015_1.find_all('tr')
rows

[<tr style="text-align: center;">
 <th scope="col"></th>
 <th scope="col"> </th>
 <th scope="col"></th>
 <th scope="col"> (%)</th>
 <th scope="col"></th>
 </tr>, <tr>
 <td>  </td>
 <td>   </td>
 <td style="text-align: right;">145</td>
 <td style="text-align: right;">35,46</td>
 <td style="text-align: right;">1.925.904</td>
 </tr>, <tr>
 <td> </td>
 <td>  -   </td>
 <td style="text-align: right;">75</td>
 <td style="text-align: right;">28,10</td>
 <td style="text-align: right;">1.526.205</td>
 </tr>, <tr>
 <td>   </td>
 <td>   </td>
 <td style="text-align: right;">18</td>
 <td style="text-align: right;">6,99</td>
 <td style="text-align: right;">379.581</td>
 </tr>, <tr>
 <td>  (... - ..)</td>
 <td>   </td>
 <td style="text-align: right;">17</td>
 <td style="text-align: right;">6,28</td>
 <td style="text-align: right;">341.390</td>
 </tr>, <tr>
 <td>  </td>
 <td>   </td>
 <td style="text-align: right;">15</td>
 <td style="text-align: right;">5,55</td>
 <td style="text-align: right;">301.632</td>
 </tr>, <tr>
 <td> </td>
 <td>   </td>
 <td style="text-align: right;">11</td>
 <td style="text-align: right;">4,09</td>
 <td style="text-align: right;">222.166</td>
 </tr>, <tr>
 <td>  - <br/>
 			  </td>
 <td>   </td>
 <td style="text-align: right;">10</td>
 <td style="text-align: right;">3,69</td>
 <td style="text-align: right;">200.423</td>
 </tr>, <tr>
 <td> </td>
 <td>   </td>
 <td style="text-align: right;">9</td>
 <td style="text-align: right;">3,43</td>
 <td style="text-align: right;">186.457</td>
 </tr>]

In [14]:
table2015_1 = soup_doc.find_all('tbody')[0]

rows_2015_1 = table2015_1.find_all('tr')

rows=[]

for row in rows_2015_1[1:]:
    cells_2015_1 = row.find_all('td')
    #print(cells_2015_1)
    cell = {}
    
    party = cells_2015_1[0]
    cell['party'] = party.text
    
    leader = cells_2015_1[1]
    cell['leader'] = leader.text
    
    seats = cells_2015_1[2]
    cell['seats'] = seats.text
    
    percentage = cells_2015_1[3]
    cell['percentage'] = percentage.text
    
    votes = cells_2015_1[4]
    cell['votes'] = votes.text
    
    print(cell)
    rows.append(cell)

{'party': '  ', 'leader': '   ', 'seats': '145', 'percentage': '35,46', 'votes': '1.925.904'}
{'party': ' ', 'leader': '  -   ', 'seats': '75', 'percentage': '28,10', 'votes': '1.526.205'}
{'party': '   ', 'leader': '   ', 'seats': '18', 'percentage': '6,99', 'votes': '379.581'}
{'party': '  (... - ..)', 'leader': '   ', 'seats': '17', 'percentage': '6,28', 'votes': '341.390'}
{'party': '  ', 'leader': '   ', 'seats': '15', 'percentage': '5,55', 'votes': '301.632'}
{'party': ' ', 'leader': '   ', 'seats': '11', 'percentage': '4,09', 'votes': '222.166'}
{'party': '  - \r\n\t\t\t  ', 'leader': '   ', 'seats': '10', 'percentage': '3,69', 'votes': '200.423'}
{'party': ' ', 'leader': '   ', 'seats': '9', 'percentage': '3,43', 'votes': '186.457'}

In [15]:
df_2015_1 = pd.DataFrame(rows)
df_2015_1

,leader,party,percentage,seats,votes
0,,,"35,46",145,1.925.904
1,-,,"28,10",75,1.526.205
2,,,"6,99",18,379.581
3,,(... - ..),"6,28",17,341.390
4,,,"5,55",15,301.632
5,,,"4,09",11,222.166
6,,- \r\n\t\t\t...,"3,69",10,200.423
7,,,"3,43",9,186.457

In [16]:
df_2015_1['date'] = '2015, Sept'

In [17]:
df_2015_1['percentage'] = df_2015_1['percentage'].str.replace(',','.')

In [18]:
df_2015_1['percentage'] = df_2015_1['percentage'].astype(float)

In [19]:
df_2015_1['votes'] = df_2015_1['votes'].str.replace('.','')

In [20]:
df_2015_1['votes'] = df_2015_1['votes'].astype(int)

In [21]:
df_2015_1

,leader,party,percentage,seats,votes,date
0,,,35.46,145,1925904,"2015, Sept"
1,-,,28.10,75,1526205,"2015, Sept"
2,,,6.99,18,379581,"2015, Sept"
3,,(... - ..),6.28,17,341390,"2015, Sept"
4,,,5.55,15,301632,"2015, Sept"
5,,,4.09,11,222166,"2015, Sept"
6,,- \r\n\t\t\t...,3.69,10,200423,"2015, Sept"
7,,,3.43,9,186457,"2015, Sept"

In [22]:
df_2015_1_en = df_2015_1.copy()
df_2015_1_en

,leader,party,percentage,seats,votes,date
0,,,35.46,145,1925904,"2015, Sept"
1,-,,28.10,75,1526205,"2015, Sept"
2,,,6.99,18,379581,"2015, Sept"
3,,(... - ..),6.28,17,341390,"2015, Sept"
4,,,5.55,15,301632,"2015, Sept"
5,,,4.09,11,222166,"2015, Sept"
6,,- \r\n\t\t\t...,3.69,10,200423,"2015, Sept"
7,,,3.43,9,186457,"2015, Sept"

In [23]:
df_2015_1_en['party'] = df_2015_1_en['party'].replace({"  ":'SYRIZA',
                                                      ' ':'New Democracy',
                                                      '   ':'Golden Dawn',
                                                      '  (... - ..)':'Democratic Alignment',
                                                      '  ':'Communist Party',
                                                      ' ':'Potami',
                                                      '  - \r\n\t\t\t  ':'ANEL',
                                                      ' ':'Union of Centrists'})

In [24]:
df_2015_1_en

,leader,party,percentage,seats,votes,date
0,,SYRIZA,35.46,145,1925904,"2015, Sept"
1,-,New Democracy,28.10,75,1526205,"2015, Sept"
2,,Golden Dawn,6.99,18,379581,"2015, Sept"
3,,Democratic Alignment,6.28,17,341390,"2015, Sept"
4,,Communist Party,5.55,15,301632,"2015, Sept"
5,,Potami,4.09,11,222166,"2015, Sept"
6,,ANEL,3.69,10,200423,"2015, Sept"
7,,Union of Centrists,3.43,9,186457,"2015, Sept"

## 2015, January

In [25]:
table2015 = soup_doc.find_all('tbody')[1]

rows_2015 = table2015.find_all('tr')

rows=[]

for row in rows_2015[1:]:
    cells_2015 = row.find_all('td')
    #print(cells_2015_1)
    cell = {}
    
    party = cells_2015[0]
    cell['party'] = party.text
    
    leader = cells_2015[1]
    cell['leader'] = leader.text
    
    seats = cells_2015[2]
    cell['seats'] = seats.text
    
    percentage = cells_2015[3]
    cell['percentage'] = percentage.text
    
    votes = cells_2015[4]
    cell['votes'] = votes.text
    
    print(cell)
    rows.append(cell)

{'party': '  ', 'leader': '   ', 'seats': '149', 'percentage': '36,34', 'votes': '2.246.064'}
{'party': ' ', 'leader': '   ', 'seats': '76', 'percentage': '27,81', 'votes': '1.718.815'}
{'party': '   ', 'leader': '   ', 'seats': '17', 'percentage': '6,28', 'votes': '388.447'}
{'party': ' ', 'leader': '   ', 'seats': '17', 'percentage': '6,05', 'votes': '373.868'}
{'party': '  ', 'leader': '   ', 'seats': '15', 'percentage': '5,47', 'votes': '338.138'}
{'party': '    \r\n\t\t\t,    ,\r\n\t\t\t,  , \r\n\t\t\t ,   -  ', 'leader': '   ', 'seats': '13', 'percentage': '4,75', 'votes': '293.371'}
{'party': '   -  ', 'leader': '   ', 'seats': '13', 'percentage': '4,68', 'votes': '289.482'}

In [26]:
df_2015 = pd.DataFrame(rows)
df_2015

,leader,party,percentage,seats,votes
0,,,"36,34",149,2.246.064
1,,,"27,81",76,1.718.815
2,,,"6,28",17,388.447
3,,,"6,05",17,373.868
4,,,"5,47",15,338.138
5,,...,"4,75",13,293.371
6,,- ...,"4,68",13,289.482

In [27]:
df_2015['date'] = '2015, Jan'

In [28]:
df_2015['percentage'] = df_2015['percentage'].str.replace(',','.')

In [29]:
df_2015['percentage'] = df_2015['percentage'].astype(float)

In [30]:
df_2015['votes'] = df_2015['votes'].str.replace('.','')

In [31]:
df_2015['votes'] = df_2015['votes'].astype(int)

In [32]:
df_2015

,leader,party,percentage,seats,votes,date
0,,,36.34,149,2246064,"2015, Jan"
1,,,27.81,76,1718815,"2015, Jan"
2,,,6.28,17,388447,"2015, Jan"
3,,,6.05,17,373868,"2015, Jan"
4,,,5.47,15,338138,"2015, Jan"
5,,...,4.75,13,293371,"2015, Jan"
6,,- ...,4.68,13,289482,"2015, Jan"

In [33]:
df_2015_en = df_2015.copy()

In [34]:
df_2015_en['party'] = df_2015_en['party'].replace({"  ":'SYRIZA',
                                                      ' ':'New Democracy',
                                                      '   ':'Golden Dawn',
                                                      '   -  ':'PASOK',
                                                      '  ':'Communist Party',
                                                      ' ':'Potami',
                                                      '    \r\n\t\t\t,    ,\r\n\t\t\t,  , \r\n\t\t\t ,   -  ':'ANEL',
                                                      ' ':'Union of Centrists'})

In [35]:
df_2015_en

,leader,party,percentage,seats,votes,date
0,,SYRIZA,36.34,149,2246064,"2015, Jan"
1,,New Democracy,27.81,76,1718815,"2015, Jan"
2,,Golden Dawn,6.28,17,388447,"2015, Jan"
3,,Potami,6.05,17,373868,"2015, Jan"
4,,Communist Party,5.47,15,338138,"2015, Jan"
5,,ANEL,4.75,13,293371,"2015, Jan"
6,,PASOK,4.68,13,289482,"2015, Jan"

In [36]:
df_2015_en.to_csv('df_2015_en.csv')

## Scraping 2012, June

In [37]:
table2012_1 = soup_doc.find_all('tr')[18:26]
len(table2012_1)

8

In [38]:
print(table2012_1)

[<tr>
<td> </td>
<td>   </td>
<td style="text-align: right;">129</td>
<td style="text-align: right;">29,66</td>
<td style="text-align: right;">
<table border="0" cellpadding="0" cellspacing="0" style="width:64px">
<tbody>
<tr style="height: 15pt;">
<td style="width: 48pt; height: 15pt;">1.825.514</td>
</tr>
</tbody>
</table>
</td>
</tr>, <tr style="height: 15pt;">
<td style="width: 48pt; height: 15pt;">1.825.514</td>
</tr>, <tr>
<td> -   </td>
<td>   </td>
<td style="text-align: right;">71</td>
<td style="text-align: right;">26,89</td>
<td style="text-align: right;">1.655.042</td>
</tr>, <tr>
<td>  </td>
<td>   </td>
<td style="text-align: right;">33</td>
<td style="text-align: right;">12,28</td>
<td style="text-align: right;">756.045</td>
</tr>, <tr>
<td> </td>
<td>   </td>
<td style="text-align: right;">20</td>
<td style="text-align: right;">7,51</td>
<td style="text-align: right;">462.410</td>
</tr>, <tr>
<td>   </td>
<td>   </td>
<td style="text-align: right;">18</td>
<td style="text-align: right;">6,92</td>
<td style="text-align: right;">426.027</td>
</tr>, <tr>
<td> </td>
<td> -  </td>
<td style="text-align: right;">17</td>
<td style="text-align: right;">6,25</td>
<td style="text-align: right;">384.971</td>
</tr>, <tr>
<td>  </td>
<td>   </td>
<td style="text-align: right;">12</td>
<td style="text-align: right;">4,5</td>
<td style="text-align: right;">277.214</td>
</tr>]

In [39]:
table2012_1_a = soup_doc.find_all('tr')[18:26]

rows=[]

try:
    for row in table2012_1_a:
        cells_2012_1 = row.find_all('td')

        cell = {}

        party = cells_2012_1[0]
        cell['party'] = party.text

        leader = cells_2012_1[1]
        cell['leader'] = leader.text

        seats = cells_2012_1[2]
        cell['seats'] = seats.text

        percentage = cells_2012_1[3]
        cell['percentage'] = percentage.text

        votes = cells_2012_1[4]
        cell['votes'] = votes.text

        print(cell)
        rows.append(cell)

except:
     print('Scraping is not done')

{'party': ' ', 'leader': '   ', 'seats': '129', 'percentage': '29,66', 'votes': '\n\n\n\n1.825.514\n\n\n\n'}
Scraping is not done

In [40]:
df2012_1_a = pd.DataFrame(rows)
df2012_1_a

,leader,party,percentage,seats,votes
0,,,"29,66",129,\n\n\n\n1.825.514\n\n\n\n

In [41]:
table2012_1_b = soup_doc.find_all('tr')[20:26]

rows=[]

try:
    for row in table2012_1_b:
        cells_2012_1 = row.find_all('td')

        cell = {}

        party = cells_2012_1[0]
        cell['party'] = party.text

        leader = cells_2012_1[1]
        cell['leader'] = leader.text

        seats = cells_2012_1[2]
        cell['seats'] = seats.text

        percentage = cells_2012_1[3]
        cell['percentage'] = percentage.text

        votes = cells_2012_1[4]
        cell['votes'] = votes.text

        print(cell)
        rows.append(cell)

except:
     print('Scraping is not done')

{'party': ' -   ', 'leader': '   ', 'seats': '71', 'percentage': '26,89', 'votes': '1.655.042'}
{'party': '  ', 'leader': '   ', 'seats': '33', 'percentage': '12,28', 'votes': '756.045'}
{'party': ' ', 'leader': '   ', 'seats': '20', 'percentage': '7,51', 'votes': '462.410'}
{'party': '   ', 'leader': '   ', 'seats': '18', 'percentage': '6,92', 'votes': '426.027'}
{'party': ' ', 'leader': ' -  ', 'seats': '17', 'percentage': '6,25', 'votes': '384.971'}
{'party': '  ', 'leader': '   ', 'seats': '12', 'percentage': '4,5', 'votes': '277.214'}

In [42]:
df2012_1_b = pd.DataFrame(rows)
df2012_1_b

,leader,party,percentage,seats,votes
0,,-,"26,89",71,1.655.042
1,,,"12,28",33,756.045
2,,,"7,51",20,462.410
3,,,"6,92",18,426.027
4,-,,"6,25",17,384.971
5,,,"4,5",12,277.214

In [43]:
df2012_1 = pd.concat([df2012_1_a,df2012_1_b])
df2012_1

,leader,party,percentage,seats,votes
0,,,"29,66",129,\n\n\n\n1.825.514\n\n\n\n
0,,-,"26,89",71,1.655.042
1,,,"12,28",33,756.045
2,,,"7,51",20,462.410
3,,,"6,92",18,426.027
4,-,,"6,25",17,384.971
5,,,"4,5",12,277.214

In [44]:
df2012_1['date'] = '2012, Jun'

In [45]:
df2012_1['percentage'] = df2012_1['percentage'].str.replace(',','.')

In [46]:
df2012_1['percentage'] = df2012_1['percentage'].astype(float)

In [47]:
df2012_1['votes'] = df2012_1['votes'].str.replace('\n','')

In [48]:
df2012_1['votes'] = df2012_1['votes'].str.replace('.','')

In [49]:
df2012_1['votes'] = df2012_1['votes'].astype(int)

In [50]:
df2012_1

,leader,party,percentage,seats,votes,date
0,,,29.66,129,1825514,"2012, Jun"
0,,-,26.89,71,1655042,"2012, Jun"
1,,,12.28,33,756045,"2012, Jun"
2,,,7.51,20,462410,"2012, Jun"
3,,,6.92,18,426027,"2012, Jun"
4,-,,6.25,17,384971,"2012, Jun"
5,,,4.50,12,277214,"2012, Jun"

In [51]:
df_2012_1_en = df2012_1.copy()

In [52]:
df_2012_1_en['party'] = df_2012_1_en['party'].replace({" -   ":'SYRIZA',
                                                      ' ':'New Democracy',
                                                      '   ':'Golden Dawn',
                                                      '  ':'PASOK',
                                                      '  ':'Communist Party',
                                                      ' ':'ANEL',
                                                      ' ':'Democratic Left'})

In [53]:
df_2012_1_en

,leader,party,percentage,seats,votes,date
0,,New Democracy,29.66,129,1825514,"2012, Jun"
0,,SYRIZA,26.89,71,1655042,"2012, Jun"
1,,PASOK,12.28,33,756045,"2012, Jun"
2,,ANEL,7.51,20,462410,"2012, Jun"
3,,Golden Dawn,6.92,18,426027,"2012, Jun"
4,-,Democratic Left,6.25,17,384971,"2012, Jun"
5,,Communist Party,4.50,12,277214,"2012, Jun"

## Scraping 2012, May

In [54]:
table2012 = soup_doc.find_all('tr')[27:35]
table2012

[<tr>
 <td> </td>
 <td>   </td>
 <td style="text-align: right;">108</td>
 <td style="text-align: right;">18,85</td>
 <td style="text-align: right;">
 <table border="0" cellpadding="0" cellspacing="0" style="width:64px">
 <tbody>
 <tr>
 <td style="width: 48pt; height: 15pt;">1.192.103</td>
 </tr>
 </tbody>
 </table>
 </td>
 </tr>, <tr>
 <td style="width: 48pt; height: 15pt;">1.192.103</td>
 </tr>, <tr>
 <td>   </td>
 <td>   </td>
 <td style="text-align: right;">52</td>
 <td style="text-align: right;">16,79</td>
 <td style="text-align: right;">1.061.929</td>
 </tr>, <tr>
 <td>  </td>
 <td>   </td>
 <td style="text-align: right;">41</td>
 <td style="text-align: right;">13,18</td>
 <td style="text-align: right;">833.452</td>
 </tr>, <tr>
 <td> </td>
 <td>   </td>
 <td style="text-align: right;">33</td>
 <td style="text-align: right;">10,62</td>
 <td style="text-align: right;">671.325</td>
 </tr>, <tr>
 <td>  </td>
 <td>   </td>
 <td style="text-align: right;">26</td>
 <td style="text-align: right;">8,48</td>
 <td style="text-align: right;">536.104</td>
 </tr>, <tr>
 <td>  -  </td>
 <td>   </td>
 <td style="text-align: right;">21</td>
 <td style="text-align: right;">6,97</td>
 <td style="text-align: right;">440.985</td>
 </tr>, <tr>
 <td> </td>
 <td> -  </td>
 <td style="text-align: right;">19</td>
 <td style="text-align: right;">6,11</td>
 <td style="text-align: right;">386.394</td>
 </tr>]

In [55]:
table2012_a = soup_doc.find_all('tr')[27:35]

rows=[]

try:
    for row in table2012_a:
        cells_2012 = row.find_all('td')

        cell = {}

        party = cells_2012[0]
        cell['party'] = party.text

        leader = cells_2012[1]
        cell['leader'] = leader.text

        seats = cells_2012[2]
        cell['seats'] = seats.text

        percentage = cells_2012[3]
        cell['percentage'] = percentage.text

        votes = cells_2012[4]
        cell['votes'] = votes.text

        print(cell)
        rows.append(cell)

except:
     print('Scraping is not done')

{'party': ' ', 'leader': '   ', 'seats': '108', 'percentage': '18,85', 'votes': '\n\n\n\n1.192.103\n\n\n\n'}
Scraping is not done

In [56]:
df2012_a = pd.DataFrame(rows)
df2012_a

,leader,party,percentage,seats,votes
0,,,"18,85",108,\n\n\n\n1.192.103\n\n\n\n

In [57]:
table2012_b = soup_doc.find_all('tr')[29:35]

rows=[]

try:
    for row in table2012_b:
        cells_2012 = row.find_all('td')

        cell = {}

        party = cells_2012[0]
        cell['party'] = party.text

        leader = cells_2012[1]
        cell['leader'] = leader.text

        seats = cells_2012[2]
        cell['seats'] = seats.text

        percentage = cells_2012[3]
        cell['percentage'] = percentage.text

        votes = cells_2012[4]
        cell['votes'] = votes.text

        print(cell)
        rows.append(cell)

except:
     print('Scraping is not done')

{'party': '   ', 'leader': '   ', 'seats': '52', 'percentage': '16,79', 'votes': '1.061.929'}
{'party': '  ', 'leader': '   ', 'seats': '41', 'percentage': '13,18', 'votes': '833.452'}
{'party': ' ', 'leader': '   ', 'seats': '33', 'percentage': '10,62', 'votes': '671.325'}
{'party': '  ', 'leader': '   ', 'seats': '26', 'percentage': '8,48', 'votes': '536.104'}
{'party': '  -  ', 'leader': '   ', 'seats': '21', 'percentage': '6,97', 'votes': '440.985'}
{'party': ' ', 'leader': ' -  ', 'seats': '19', 'percentage': '6,11', 'votes': '386.394'}

In [58]:
df2012_b = pd.DataFrame(rows)
df2012_b

,leader,party,percentage,seats,votes
0,,,"16,79",52,1.061.929
1,,,"13,18",41,833.452
2,,,"10,62",33,671.325
3,,,"8,48",26,536.104
4,,-,"6,97",21,440.985
5,-,,"6,11",19,386.394

In [59]:
df_2012 = pd.concat([df2012_a,df2012_b])
df_2012

,leader,party,percentage,seats,votes
0,,,"18,85",108,\n\n\n\n1.192.103\n\n\n\n
0,,,"16,79",52,1.061.929
1,,,"13,18",41,833.452
2,,,"10,62",33,671.325
3,,,"8,48",26,536.104
4,,-,"6,97",21,440.985
5,-,,"6,11",19,386.394

In [60]:
df_2012['date'] = '2012, May'

In [61]:
df_2012['percentage'] = df_2012['percentage'].str.replace(',','.')

In [62]:
df_2012['percentage'] = df_2012['percentage'].astype(float)

In [63]:
df_2012['votes'] = df_2012['votes'].str.replace('.','')

In [64]:
df_2012['votes'] = df_2012['votes'].str.replace('\n','')

In [65]:
df_2012['votes'] = df_2012['votes'].astype(int)

In [66]:
df_2012

,leader,party,percentage,seats,votes,date
0,,,18.85,108,1192103,"2012, May"
0,,,16.79,52,1061929,"2012, May"
1,,,13.18,41,833452,"2012, May"
2,,,10.62,33,671325,"2012, May"
3,,,8.48,26,536104,"2012, May"
4,,-,6.97,21,440985,"2012, May"
5,-,,6.11,19,386394,"2012, May"

In [67]:
df_2012_en = df_2012.copy()

In [68]:
df_2012_en['party'] = df_2012_en['party'].replace({"   ":'SYRIZA',
                                                      ' ':'New Democracy',
                                                      '  -  ':'Golden Dawn',
                                                      '  ':'PASOK',
                                                      '  ':'Communist Party',
                                                      ' ':'ANEL',
                                                      ' ':'Democratic Left'})

In [69]:
df_2012_en

,leader,party,percentage,seats,votes,date
0,,New Democracy,18.85,108,1192103,"2012, May"
0,,SYRIZA,16.79,52,1061929,"2012, May"
1,,PASOK,13.18,41,833452,"2012, May"
2,,ANEL,10.62,33,671325,"2012, May"
3,,Communist Party,8.48,26,536104,"2012, May"
4,,Golden Dawn,6.97,21,440985,"2012, May"
5,-,Democratic Left,6.11,19,386394,"2012, May"

## Scraping 2009

In [70]:
table2009 = soup_doc.find_all('tbody')[6]

rows_2009 = table2009.find_all('tr')

rows=[]

for row in rows_2009[1:]:
    cells_2015 = row.find_all('td')

    cell = {}
    
    party = cells_2015[0]
    cell['party'] = party.text
    
    leader = cells_2015[1]
    cell['leader'] = leader.text
    
    seats = cells_2015[2]
    cell['seats'] = seats.text
    
    percentage = cells_2015[3]
    cell['percentage'] = percentage.text
    
    votes = cells_2015[4]
    cell['votes'] = votes.text
    
    print(cell)
    rows.append(cell)

{'party': '  ', 'leader': '   ', 'seats': '160', 'percentage': '43,94', 'votes': '2.995.978'}
{'party': ' ', 'leader': '   \r\n\t\t\t( 30/11/2009     )', 'seats': '91', 'percentage': '33,49', 'votes': '2.283.562'}
{'party': '  ', 'leader': '   ', 'seats': '21', 'percentage': '7,53', 'votes': '513.787'}
{'party': '  ', 'leader': '   ', 'seats': '15', 'percentage': '5,62', 'votes': '383.522'}
{'party': '     ', 'leader': ' ', 'seats': '13', 'percentage': '4,59', 'votes': '313.231'}

In [71]:
df_2009 = pd.DataFrame(rows)
df_2009

,leader,party,percentage,seats,votes
0,,,"43,94",160,2.995.978
1,\r\n\t\t...,,"33,49",91,2.283.562
2,,,"7,53",21,513.787
3,,,"5,62",15,383.522
4,,,"4,59",13,313.231

In [72]:
df_2009['date'] = '2009'

In [73]:
df_2009['percentage'] = df_2009['percentage'].str.replace(',','.')

In [74]:
df_2009['percentage'] = df_2009['percentage'].astype(float)

In [75]:
df_2009['votes'] = df_2009['votes'].str.replace('.','')

In [76]:
df_2009['votes'] = df_2009['votes'].astype(int)

In [77]:
df_2009

,leader,party,percentage,seats,votes,date
0,,,43.94,160,2995978,2009
1,\r\n\t\t...,,33.49,91,2283562,2009
2,,,7.53,21,513787,2009
3,,,5.62,15,383522,2009
4,,,4.59,13,313231,2009

In [78]:
df_2009_en = df_2009.copy()

In [79]:
df_2009_en['party'] = df_2009_en['party'].replace({"     ":'SYRIZA',
                                                      ' ':'New Democracy',
                                                      '  ':'LAOS',
                                                      '  ':'PASOK',
                                                      '  ':'Communist Party',
                                                      })

In [80]:
df_2009_en

,leader,party,percentage,seats,votes,date
0,,PASOK,43.94,160,2995978,2009
1,\r\n\t\t...,New Democracy,33.49,91,2283562,2009
2,,Communist Party,7.53,21,513787,2009
3,,LAOS,5.62,15,383522,2009
4,,SYRIZA,4.59,13,313231,2009

## Scraping 2007

In [81]:
table2007 = soup_doc.find_all('tbody')[7]

rows_2007 = table2007.find_all('tr')

rows=[]

for row in rows_2007[1:]:
    cells_2007 = row.find_all('td')
    #print(cells_2015_1)
    cell = {}
    
    party = cells_2007[0]
    cell['party'] = party.text
    
    leader = cells_2007[1]
    cell['leader'] = leader.text
    
    seats = cells_2007[2]
    cell['seats'] = seats.text
    
    percentage = cells_2007[3]
    cell['percentage'] = percentage.text
    
    votes = cells_2007[4]
    cell['votes'] = votes.text
    
    print(cell)
    rows.append(cell)

{'party': ' ', 'leader': '   ', 'seats': '152', 'percentage': '41,84', 'votes': '2.994.979'}
{'party': '  ', 'leader': '   ', 'seats': '102', 'percentage': '38,10', 'votes': '2.727.279'}
{'party': '  ', 'leader': '   ', 'seats': '22', 'percentage': '8,15', 'votes': '583.750'}
{'party': '  ', 'leader': ' \xa0 ', 'seats': '14', 'percentage': '5,04', 'votes': '361.101'}
{'party': '  ', 'leader': '   ', 'seats': '10', 'percentage': '3,80', 'votes': '271.809'}

In [82]:
df_2007 = pd.DataFrame(rows)
df_2007

,leader,party,percentage,seats,votes
0,,,"41,84",152,2.994.979
1,,,"38,10",102,2.727.279
2,,,"8,15",22,583.750
3,,,"5,04",14,361.101
4,,,"3,80",10,271.809

In [83]:
df_2007['date'] = '2007'

In [84]:
df_2007['percentage'] = df_2007['percentage'].str.replace(',','.')

In [85]:
df_2007['percentage'] = df_2007['percentage'].astype(float)

In [86]:
df_2007['votes'] = df_2007['votes'].str.replace('.','')

In [87]:
df_2007['votes'] = df_2007['votes'].astype(int)

In [88]:
df_2007

,leader,party,percentage,seats,votes,date
0,,,41.84,152,2994979,2007
1,,,38.10,102,2727279,2007
2,,,8.15,22,583750,2007
3,,,5.04,14,361101,2007
4,,,3.80,10,271809,2007

In [89]:
df_2007_en = df_2007.copy()

In [90]:
df_2007_en['party'] = df_2007_en['party'].replace({"  ":'SYRIZA',
                                                      ' ':'New Democracy',
                                                      '  ':'LAOS',
                                                      '  ':'PASOK',
                                                      '  ':'Communist Party',
                                                     })

In [91]:
df_2007_en

,leader,party,percentage,seats,votes,date
0,,New Democracy,41.84,152,2994979,2007
1,,PASOK,38.10,102,2727279,2007
2,,Communist Party,8.15,22,583750,2007
3,,SYRIZA,5.04,14,361101,2007
4,,LAOS,3.80,10,271809,2007

## Scraping 2004

In [92]:
table2004 = soup_doc.find_all('tbody')[8]

rows_2004 = table2004.find_all('tr')

rows=[]

for row in rows_2004[1:]:
    cells_2004 = row.find_all('td')
    #print(cells_2015_1)
    cell = {}
    
    party = cells_2004[0]
    cell['party'] = party.text
    
    leader = cells_2004[1]
    cell['leader'] = leader.text
    
    seats = cells_2004[2]
    cell['seats'] = seats.text
    
    percentage = cells_2004[3]
    cell['percentage'] = percentage.text
    
    votes = cells_2004[4]
    cell['votes'] = votes.text
    
    print(cell)
    rows.append(cell)

{'party': ' ', 'leader': '   ', 'seats': '165', 'percentage': '45,36', 'votes': '3.360.424'}
{'party': '  ', 'leader': '   ', 'seats': '117', 'percentage': '40,55', 'votes': '3.003.988'}
{'party': '  ', 'leader': '   ', 'seats': '12', 'percentage': '5,90', 'votes': '436.81'}
{'party': '  ', 'leader': '   \r\n\t\t\t( 12/12/2004  \xa0 \r\n\t\t\t   )', 'seats': '6', 'percentage': '3,26', 'votes': '241.714'}

In [93]:
df_2004 = pd.DataFrame(rows)
df_2004

,leader,party,percentage,seats,votes
0,,,"45,36",165,3.360.424
1,,,"40,55",117,3.003.988
2,,,"5,90",12,436.81
3,\r\n\t\t\t(...,,"3,26",6,241.714

In [94]:
df_2004['date'] = '2004'

In [95]:
df_2004['percentage'] = df_2004['percentage'].str.replace(',','.')

In [96]:
df_2004['percentage'] = df_2004['percentage'].astype(float)

In [97]:
df_2004['votes'] = df_2004['votes'].str.replace('.','')

In [98]:
df_2004

,leader,party,percentage,seats,votes,date
0,,,45.36,165,3360424,2004
1,,,40.55,117,3003988,2004
2,,,5.90,12,43681,2004
3,\r\n\t\t\t(...,,3.26,6,241714,2004

In [99]:
df_2004['votes'] = df_2004['votes'].str.replace('43681','436810')

In [100]:
df_2004['votes'] = df_2004['votes'].astype(int)

In [101]:
df_2004

,leader,party,percentage,seats,votes,date
0,,,45.36,165,3360424,2004
1,,,40.55,117,3003988,2004
2,,,5.90,12,436810,2004
3,\r\n\t\t\t(...,,3.26,6,241714,2004

In [102]:
df_2004_en = df_2004.copy()

In [103]:
df_2004_en['party'] = df_2004_en['party'].replace({"  ":'SYRIZA',
                                                      ' ':'New Democracy',
                                                      '  ':'PASOK',
                                                      '  ':'Communist Party',
                                                      })

In [104]:
df_2004_en

,leader,party,percentage,seats,votes,date
0,,New Democracy,45.36,165,3360424,2004
1,,PASOK,40.55,117,3003988,2004
2,,Communist Party,5.90,12,436810,2004
3,\r\n\t\t\t(...,SYRIZA,3.26,6,241714,2004

## Scraping 2000

In [105]:
table2000 = soup_doc.find_all('tbody')[9]

rows_2000 = table2000.find_all('tr')

rows=[]

for row in rows_2000[1:]:
    cells_2000 = row.find_all('td')
    #print(cells_2015_1)
    cell = {}
    
    party = cells_2000[0]
    cell['party'] = party.text
    
    leader = cells_2000[1]
    cell['leader'] = leader.text
    
    seats = cells_2000[2]
    cell['seats'] = seats.text
    
    percentage = cells_2000[3]
    cell['percentage'] = percentage.text
    
    votes = cells_2000[4]
    cell['votes'] = votes.text
    
    print(cell)
    rows.append(cell)

{'party': '  ', 'leader': '   ', 'seats': '158', 'percentage': '43,80', 'votes': '3.008.081'}
{'party': ' ', 'leader': '   ', 'seats': '125', 'percentage': '42,73', 'votes': '2.934.948'}
{'party': '  ', 'leader': '   ', 'seats': '11', 'percentage': '5,52', 'votes': '379.280'}
{'party': '     ', 'leader': '   ', 'seats': '6', 'percentage': '3,2', 'votes': '219.988'}

In [106]:
df_2000 = pd.DataFrame(rows)
df_2000

,leader,party,percentage,seats,votes
0,,,"43,80",158,3.008.081
1,,,"42,73",125,2.934.948
2,,,"5,52",11,379.280
3,,,"3,2",6,219.988

In [107]:
df_2000['date'] = '2000'

In [108]:
df_2000['percentage'] = df_2000['percentage'].str.replace(',','.')

In [109]:
df_2000['percentage'] = df_2000['percentage'].astype(float)

In [110]:
df_2000['votes'] = df_2000['votes'].str.replace('.','')

In [111]:
df_2000['votes'] = df_2000['votes'].astype(int)

In [112]:
df_2000

,leader,party,percentage,seats,votes,date
0,,,43.80,158,3008081,2000
1,,,42.73,125,2934948,2000
2,,,5.52,11,379280,2000
3,,,3.20,6,219988,2000

In [113]:
df_2000_en = df_2000.copy()

In [114]:
df_2000_en['party'] = df_2000_en['party'].replace({"     ":'SYRIZA',
                                                      ' ':'New Democracy',
                                                      '  ':'PASOK',
                                                      '  ':'Communist Party',
                                                      })

In [115]:
df_2000_en

,leader,party,percentage,seats,votes,date
0,,PASOK,43.80,158,3008081,2000
1,,New Democracy,42.73,125,2934948,2000
2,,Communist Party,5.52,11,379280,2000
3,,SYRIZA,3.20,6,219988,2000

## Scraping 1996

In [116]:
table1996 = soup_doc.find_all('tbody')[10]

rows_1996 = table1996.find_all('tr')

rows=[]

for row in rows_1996[1:]:
    cells_1996 = row.find_all('td')
    #print(cells_2015_1)
    cell = {}
    
    party = cells_1996[0]
    cell['party'] = party.text
    
    leader = cells_1996[1]
    cell['leader'] = leader.text
    
    seats = cells_1996[2]
    cell['seats'] = seats.text
    
    percentage = cells_1996[3]
    cell['percentage'] = percentage.text
    
    votes = cells_1996[4]
    cell['votes'] = votes.text
    
    print(cell)
    rows.append(cell)

{'party': '  ', 'leader': '   ', 'seats': '162', 'percentage': '41,49', 'votes': '2.814.779'}
{'party': ' ', 'leader': '   ', 'seats': '108', 'percentage': '38,12', 'votes': '2.586.089'}
{'party': '  ', 'leader': '   ', 'seats': '11', 'percentage': '5,6', 'votes': '380.046'}
{'party': '     ', 'leader': '   ', 'seats': '10', 'percentage': '5,12', 'votes': '347.236'}
{'party': '  ', 'leader': '   ', 'seats': '9', 'percentage': '4,44', 'votes': '300.954'}

In [117]:
df_1996 = pd.DataFrame(rows)
df_1996

,leader,party,percentage,seats,votes
0,,,"41,49",162,2.814.779
1,,,"38,12",108,2.586.089
2,,,"5,6",11,380.046
3,,,"5,12",10,347.236
4,,,"4,44",9,300.954

In [118]:
df_1996['date'] = '1996'

In [119]:
df_1996['percentage'] = df_1996['percentage'].str.replace(',','.')

In [120]:
df_1996['percentage'] = df_1996['percentage'].astype(float)

In [121]:
df_1996['votes'] = df_1996['votes'].str.replace('.','')

In [122]:
df_1996['votes'] = df_1996['votes'].astype(int)

In [123]:
df_1996.dtypes

leader         object
party          object
percentage    float64
seats          object
votes           int32
date           object
dtype: object

In [124]:
df_1996

,leader,party,percentage,seats,votes,date
0,,,41.49,162,2814779,1996
1,,,38.12,108,2586089,1996
2,,,5.60,11,380046,1996
3,,,5.12,10,347236,1996
4,,,4.44,9,300954,1996

In [125]:
df_1996_en = df_1996.copy()

In [126]:
df_1996_en['party'] = df_1996_en['party'].replace({"     ":'SYRIZA',
                                                      ' ':'New Democracy',
                                                      '  ':'PASOK',
                                                      '  ':'Communist Party',
                                                      '  ':'DIKI',
                                                      })

In [127]:
df_1996_en

,leader,party,percentage,seats,votes,date
0,,PASOK,41.49,162,2814779,1996
1,,New Democracy,38.12,108,2586089,1996
2,,Communist Party,5.60,11,380046,1996
3,,SYRIZA,5.12,10,347236,1996
4,,DIKI,4.44,9,300954,1996

## Scraping 1993

In [128]:
table1993 = soup_doc.find_all('tbody')[11]

rows_1993 = table1993.find_all('tr')

rows=[]

for row in rows_1993[1:]:
    cells_1993 = row.find_all('td')
    #print(cells_2015_1)
    cell = {}
    
    party = cells_1993[0]
    cell['party'] = party.text
    
    leader = cells_1993[1]
    cell['leader'] = leader.text
    
    seats = cells_1993[2]
    cell['seats'] = seats.text
    
    percentage = cells_1993[3]
    cell['percentage'] = percentage.text
    
    votes = cells_1993[4]
    cell['votes'] = votes.text
    
    print(cell)
    rows.append(cell)

{'party': '  ', 'leader': '\xa0  ', 'seats': '170', 'percentage': '46,88', 'votes': '3.235.017'}
{'party': ' ', 'leader': '\xa0  ', 'seats': '111', 'percentage': '39,30', 'votes': '2.711.737'}
{'party': ' ', 'leader': '   ', 'seats': '10', 'percentage': '4,88', 'votes': '336.460'}
{'party': '  ', 'leader': '   ', 'seats': '9', 'percentage': '4,54', 'votes': '313.001'}

In [129]:
df_1993 = pd.DataFrame(rows)
df_1993

,leader,party,percentage,seats,votes
0,,,"46,88",170,3.235.017
1,,,"39,30",111,2.711.737
2,,,"4,88",10,336.460
3,,,"4,54",9,313.001

In [130]:
df_1993['date'] = '1993'

In [131]:
df_1993['percentage'] = df_1993['percentage'].str.replace(',','.')

In [132]:
df_1993['percentage'] = df_1993['percentage'].astype(float)

In [133]:
df_1993['votes'] = df_1993['votes'].str.replace('.','')

In [134]:
df_1993['votes'] = df_1993['votes'].astype(int)

In [135]:
df_1993

,leader,party,percentage,seats,votes,date
0,,,46.88,170,3235017,1993
1,,,39.30,111,2711737,1993
2,,,4.88,10,336460,1993
3,,,4.54,9,313001,1993

In [136]:
df_1993_en = df_1993.copy()

In [137]:
df_1993_en['party'] = df_1993_en['party'].replace({"  ":'SYRIZA',
                                                      ' ':'New Democracy',
                                                      '  ':'PASOK',
                                                      '  ':'Communist Party',
                                                      ' ':'Political Spring'
                                                      })

In [138]:
df_1993_en

,leader,party,percentage,seats,votes,date
0,,PASOK,46.88,170,3235017,1993
1,,New Democracy,39.30,111,2711737,1993
2,,Political Spring,4.88,10,336460,1993
3,,Communist Party,4.54,9,313001,1993

## Scraping 1990

In [139]:
table1990 = soup_doc.find_all('tbody')[12]

rows_1990 = table1990.find_all('tr')

rows=[]

for row in rows_1990[1:]:
    cells_1990 = row.find_all('td')
    #print(cells_2015_1)
    cell = {}
    
    party = cells_1990[0]
    cell['party'] = party.text
    
    leader = cells_1990[1]
    cell['leader'] = leader.text
    
    seats = cells_1990[2]
    cell['seats'] = seats.text
    
    percentage = cells_1990[3]
    cell['percentage'] = percentage.text
    
    votes = cells_1990[4]
    cell['votes'] = votes.text
    
    print(cell)
    rows.append(cell)

{'party': ' ', 'leader': '\xa0  ', 'seats': '150', 'percentage': '46,89', 'votes': '3.088.137'}
{'party': '  ', 'leader': '\xa0  ', 'seats': '123', 'percentage': '38,61', 'votes': '2.543.042'}
{'party': '     ', 'leader': '\xa0  ', 'seats': '19', 'percentage': '10,28', 'votes': '677.059'}
{'party': '  - ', 'leader': '   ', 'seats': '1', 'percentage': '0,77', 'votes': '50.868'}
{'party': ' ', 'leader': '   ', 'seats': '1', 'percentage': '0,67', 'votes': '44.077'}
{'party': ':\r\n\t\t\t) \r\n\t\t\t)  \r\n\t\t\t) ,', 'leader': '\xa0', 'seats': '6', 'percentage': '\xa0', 'votes': '\xa0'}

In [140]:
df_1990 = pd.DataFrame(rows)
df_1990

,leader,party,percentage,seats,votes
0,,,"46,89",150,3.088.137
1,,,"38,61",123,2.543.042
2,,,"10,28",19,677.059
3,,-,"0,77",1,50.868
4,,,"0,67",1,44.077
5,,:\r\n\t\t\t) \r\n\t\t\t...,,6,

In [141]:
df_1990['date'] = '1990'

In [142]:
df_1990['leader'][5]

'\xa0'

In [143]:
df_1990['leader'][5] = df_1990['leader'][5].replace('\xa0','No Data')

In [144]:
df_1990

,leader,party,percentage,seats,votes,date
0,,,"46,89",150,3.088.137,1990
1,,,"38,61",123,2.543.042,1990
2,,,"10,28",19,677.059,1990
3,,-,"0,77",1,50.868,1990
4,,,"0,67",1,44.077,1990
5,No Data,:\r\n\t\t\t) \r\n\t\t\t...,,6,,1990

In [145]:
df_1990['party'][5]

':\r\n\t\t\t) \r\n\t\t\t)  \r\n\t\t\t) ,'

In [146]:
df_1990['percentage'][5]

'\xa0'

In [147]:
df_1990['votes'][5]

'\xa0'

In [148]:
df_1990['percentage'][5] = df_1990['percentage'][5].replace('\xa0','0')

In [149]:
df_1990['votes'][5] = df_1990['percentage'][5].replace('\xa0','0')

In [150]:
df_1990.dtypes

leader        object
party         object
percentage    object
seats         object
votes         object
date          object
dtype: object

In [151]:
df_1990

,leader,party,percentage,seats,votes,date
0,,,"46,89",150,3.088.137,1990
1,,,"38,61",123,2.543.042,1990
2,,,"10,28",19,677.059,1990
3,,-,"0,77",1,50.868,1990
4,,,"0,67",1,44.077,1990
5,No Data,:\r\n\t\t\t) \r\n\t\t\t...,0,6,0,1990

In [152]:
df_1990['percentage'] = df_1990['percentage'].str.replace(',','.')

In [153]:
df_1990['percentage'] = df_1990['percentage'].astype(float)

In [154]:
df_1990

,leader,party,percentage,seats,votes,date
0,,,46.89,150,3.088.137,1990
1,,,38.61,123,2.543.042,1990
2,,,10.28,19,677.059,1990
3,,-,0.77,1,50.868,1990
4,,,0.67,1,44.077,1990
5,No Data,:\r\n\t\t\t) \r\n\t\t\t...,0.00,6,0,1990

In [155]:
df_1990['votes'] = df_1990['votes'].str.replace('.','')

In [156]:
df_1990['votes'] = df_1990['votes'].astype(int)

In [157]:
df_1990

,leader,party,percentage,seats,votes,date
0,,,46.89,150,3088137,1990
1,,,38.61,123,2543042,1990
2,,,10.28,19,677059,1990
3,,-,0.77,1,50868,1990
4,,,0.67,1,44077,1990
5,No Data,:\r\n\t\t\t) \r\n\t\t\t...,0.00,6,0,1990

In [158]:
df_1990_en = df_1990.copy()

In [159]:
df_1990_en['party'] = df_1990_en['party'].replace({"     ":'SYRIZA',
                                                      ' ':'New Democracy',
                                                      '  ':'PASOK',
                                                      '  ':'Communist Party',
                                                      '  - ':'Alternative Ecologists',
                                                      ' ':'Democratic Renewal',
                                                      ':  -   -  ':'Independent Groups'})

In [160]:
df_1990_en

,leader,party,percentage,seats,votes,date
0,,New Democracy,46.89,150,3088137,1990
1,,PASOK,38.61,123,2543042,1990
2,,SYRIZA,10.28,19,677059,1990
3,,Alternative Ecologists,0.77,1,50868,1990
4,,Democratic Renewal,0.67,1,44077,1990
5,No Data,:\r\n\t\t\t) \r\n\t\t\t...,0.00,6,0,1990

## Scraping 1989, November

In [161]:
table1989_1 = soup_doc.find_all('tbody')[13]

rows_1989_1 = table1989_1.find_all('tr')

rows=[]

for row in rows_1989_1[1:]:
    cells_1989 = row.find_all('td')
    #print(cells_2015_1)
    cell = {}
    
    party = cells_1989[0]
    cell['party'] = party.text
    
    leader = cells_1989[1]
    cell['leader'] = leader.text
    
    seats = cells_1989[2]
    cell['seats'] = seats.text
    
    percentage = cells_1989[3]
    cell['percentage'] = percentage.text
    
    votes = cells_1989[4]
    cell['votes'] = votes.text
    
    print(cell)
    rows.append(cell)

{'party': ' ', 'leader': '\xa0  ', 'seats': '148', 'percentage': '46,19', 'votes': '3.093.479'}
{'party': '  ', 'leader': '\xa0  ', 'seats': '128', 'percentage': '40,68', 'votes': '2.724.334'}
{'party': '     ', 'leader': '\xa0  ', 'seats': '21', 'percentage': '10,97', 'votes': '734.611'}
{'party': '  - ', 'leader': ' ', 'seats': '1', 'percentage': '0,58', 'votes': '39.158'}
{'party': ':\r\n\t\t\t) \r\n\t\t\t) , ', 'leader': '\xa0', 'seats': '2', 'percentage': '\xa0', 'votes': '\xa0'}

In [162]:
df_1989_1 = pd.DataFrame(rows)
df_1989_1

,leader,party,percentage,seats,votes
0,,,"46,19",148,3.093.479
1,,,"40,68",128,2.724.334
2,,,"10,97",21,734.611
3,,-,"0,58",1,39.158
4,,:\r\n\t\t\t) \r\n\t\t\t...,,2,

In [163]:
df_1989_1['date'] = '1989, Nov'

In [164]:
df_1989_1['percentage'] = df_1989_1['percentage'].str.replace(',','.')

In [165]:
df_1989_1

,leader,party,percentage,seats,votes,date
0,,,46.19,148,3.093.479,"1989, Nov"
1,,,40.68,128,2.724.334,"1989, Nov"
2,,,10.97,21,734.611,"1989, Nov"
3,,-,0.58,1,39.158,"1989, Nov"
4,,:\r\n\t\t\t) \r\n\t\t\t...,,2,,"1989, Nov"

In [166]:
df_1989_1['leader'][4]
df_1989_1['percentage'][4]
df_1989_1['votes'][4]

'\xa0'

In [167]:
df_1989_1 = df_1989_1.replace('\xa0','0')

In [168]:
df_1989_1

,leader,party,percentage,seats,votes,date
0,,,46.19,148,3.093.479,"1989, Nov"
1,,,40.68,128,2.724.334,"1989, Nov"
2,,,10.97,21,734.611,"1989, Nov"
3,,-,0.58,1,39.158,"1989, Nov"
4,0,:\r\n\t\t\t) \r\n\t\t\t...,0,2,0,"1989, Nov"

In [169]:
df_1989_1['percentage'] = df_1989_1['percentage'].astype(float)

In [170]:
df_1989_1['votes'] = df_1989_1['votes'].str.replace('.','')

In [171]:
df_1989_1['votes'] = df_1989_1['votes'].astype(int)

In [172]:
df_1989_1

,leader,party,percentage,seats,votes,date
0,,,46.19,148,3093479,"1989, Nov"
1,,,40.68,128,2724334,"1989, Nov"
2,,,10.97,21,734611,"1989, Nov"
3,,-,0.58,1,39158,"1989, Nov"
4,0,:\r\n\t\t\t) \r\n\t\t\t...,0.00,2,0,"1989, Nov"

In [173]:
df_1989_1_en = df_1989_1.copy()

In [174]:
df_1989_1_en['party'] = df_1989_1_en['party'].replace({"     ":'SYRIZA',
                                                      ' ':'New Democracy',
                                                      '  ':'PASOK',
                                                      '  ':'Communist Party',
                                                      '  - ':'Alternative Ecologists',
                                                      ' ':'Democratic Renewal',
                                                      ':  -  ':'Independent Groups'})

In [175]:
df_1989_1_en

,leader,party,percentage,seats,votes,date
0,,New Democracy,46.19,148,3093479,"1989, Nov"
1,,PASOK,40.68,128,2724334,"1989, Nov"
2,,SYRIZA,10.97,21,734611,"1989, Nov"
3,,Alternative Ecologists,0.58,1,39158,"1989, Nov"
4,0,:\r\n\t\t\t) \r\n\t\t\t...,0.00,2,0,"1989, Nov"

## Scraping 1989, June

In [176]:
table1989 = soup_doc.find_all('tbody')[14]

rows_1989 = table1989.find_all('tr')

rows=[]

for row in rows_1989[1:]:
    cells_1989 = row.find_all('td')
    #print(cells_2015_1)
    cell = {}
    
    party = cells_1989[0]
    cell['party'] = party.text
    
    leader = cells_1989[1]
    cell['leader'] = leader.text
    
    seats = cells_1989[2]
    cell['seats'] = seats.text
    
    percentage = cells_1989[3]
    cell['percentage'] = percentage.text
    
    votes = cells_1989[4]
    cell['votes'] = votes.text
    
    print(cell)
    rows.append(cell)

{'party': ' ', 'leader': '\xa0  ', 'seats': '145', 'percentage': '44,28', 'votes': '2.887.488'}
{'party': '  ', 'leader': '\xa0  ', 'seats': '125', 'percentage': '39,13', 'votes': '2.551.518'}
{'party': '     ', 'leader': '\xa0  ', 'seats': '28', 'percentage': '13,13', 'votes': '855.944'}
{'party': ' ', 'leader': '\xa0  ', 'seats': '1', 'percentage': '1,01', 'votes': '65.614'}
{'party': '', 'leader': ' ', 'seats': '1', 'percentage': '0,39', 'votes': '25.099'}

In [177]:
df_1989 = pd.DataFrame(rows)
df_1989

,leader,party,percentage,seats,votes
0,,,"44,28",145,2.887.488
1,,,"39,13",125,2.551.518
2,,,"13,13",28,855.944
3,,,"1,01",1,65.614
4,,,"0,39",1,25.099

In [178]:
df_1989['date'] = '1989, Jun'

In [179]:
df_1989['percentage'] = df_1989['percentage'].str.replace(',','.')

In [180]:
df_1989['percentage'] = df_1989['percentage'].astype(float)

In [181]:
df_1989['votes'] = df_1989['votes'].str.replace('.','')

In [182]:
df_1989['votes'] = df_1989['votes'].astype(int)

In [183]:
df_1989

,leader,party,percentage,seats,votes,date
0,,,44.28,145,2887488,"1989, Jun"
1,,,39.13,125,2551518,"1989, Jun"
2,,,13.13,28,855944,"1989, Jun"
3,,,1.01,1,65614,"1989, Jun"
4,,,0.39,1,25099,"1989, Jun"

In [184]:
df_1989_en = df_1989.copy()

In [185]:
df_1989_en['party'] = df_1989_en['party'].replace({"     ":'SYRIZA',
                                                      ' ':'New Democracy',
                                                      '  ':'PASOK',
                                                      '  ':'Communist Party',
                                                      '  - ':'Alternative Ecologists',
                                                      ' ':'Democratic Renewal',
                                                      '':'Confidence'})

In [186]:
df_1989_en

,leader,party,percentage,seats,votes,date
0,,New Democracy,44.28,145,2887488,"1989, Jun"
1,,PASOK,39.13,125,2551518,"1989, Jun"
2,,SYRIZA,13.13,28,855944,"1989, Jun"
3,,Democratic Renewal,1.01,1,65614,"1989, Jun"
4,,Confidence,0.39,1,25099,"1989, Jun"

## Scraping 1985

In [187]:
table1985 = soup_doc.find_all('tbody')[15]

rows_1985 = table1985.find_all('tr')

rows=[]

for row in rows_1985[1:]:
    cells_1985 = row.find_all('td')
    #print(cells_2015_1)
    cell = {}
    
    party = cells_1985[0]
    cell['party'] = party.text
    
    leader = cells_1985[1]
    cell['leader'] = leader.text
    
    seats = cells_1985[2]
    cell['seats'] = seats.text
    
    percentage = cells_1985[3]
    cell['percentage'] = percentage.text
    
    votes = cells_1985[4]
    cell['votes'] = votes.text
    
    print(cell)
    rows.append(cell)

{'party': '  ', 'leader': '\xa0  ', 'seats': '161', 'percentage': '45,82', 'votes': '2.916.735'}
{'party': ' ', 'leader': '\xa0  ', 'seats': '126', 'percentage': '40,84', 'votes': '2.599.681'}
{'party': '  ', 'leader': '\xa0  ', 'seats': '12', 'percentage': '9,89', 'votes': '629.525'}
{'party': ' \r\n\t\t\t ', 'leader': '   ', 'seats': '1', 'percentage': '1,84', 'votes': '117.135'}

In [188]:
df_1985 = pd.DataFrame(rows)
df_1985

,leader,party,percentage,seats,votes
0,,,"45,82",161,2.916.735
1,,,"40,84",126,2.599.681
2,,,"9,89",12,629.525
3,,\r\n\t\t\t,"1,84",1,117.135

In [189]:
df_1985['date'] = '1985'

In [190]:
df_1985['percentage'] = df_1985['percentage'].str.replace(',','.')

In [191]:
df_1985['percentage'] = df_1985['percentage'].astype(float)

In [192]:
df_1985['votes'] = df_1985['votes'].str.replace('.','')

In [193]:
df_1985['votes'] = df_1985['votes'].astype(int)

In [194]:
df_1985

,leader,party,percentage,seats,votes,date
0,,,45.82,161,2916735,1985
1,,,40.84,126,2599681,1985
2,,,9.89,12,629525,1985
3,,\r\n\t\t\t,1.84,1,117135,1985

In [195]:
df_1985_en = df_1985.copy()

In [196]:
df_1985_en['party'] = df_1985_en['party'].replace({"     ":'SYRIZA',
                                                      ' ':'New Democracy',
                                                      '  ':'PASOK',
                                                      '  ':'Communist Party',
                                                      ' \r\n\t\t\t ':'Communist Party - Interior',
                                                      })

In [197]:
df_1985_en

,leader,party,percentage,seats,votes,date
0,,PASOK,45.82,161,2916735,1985
1,,New Democracy,40.84,126,2599681,1985
2,,Communist Party,9.89,12,629525,1985
3,,Communist Party - Interior,1.84,1,117135,1985

## Scraping 1981

In [198]:
table1981 = soup_doc.find_all('tbody')[16]

rows_1981 = table1981.find_all('tr')

rows=[]

for row in rows_1981[1:]:
    cells_2015 = row.find_all('td')
    #print(cells_2015_1)
    cell = {}
    
    party = cells_2015[0]
    cell['party'] = party.text
    
    leader = cells_2015[1]
    cell['leader'] = leader.text
    
    seats = cells_2015[2]
    cell['seats'] = seats.text
    
    percentage = cells_2015[3]
    cell['percentage'] = percentage.text
    
    votes = cells_2015[4]
    cell['votes'] = votes.text
    
    print(cell)
    rows.append(cell)

{'party': '  ', 'leader': '\xa0  ', 'seats': '172', 'percentage': '48,07', 'votes': '2.726.309'}
{'party': ' ', 'leader': '   ', 'seats': '115', 'percentage': '35,87', 'votes': '2.034.496'}
{'party': '  ', 'leader': '\xa0  ', 'seats': '13', 'percentage': '10,93', 'votes': '620.302'}

In [199]:
df_1981 = pd.DataFrame(rows)
df_1981

,leader,party,percentage,seats,votes
0,,,"48,07",172,2.726.309
1,,,"35,87",115,2.034.496
2,,,"10,93",13,620.302

In [200]:
df_1981['date'] = '1981'

In [201]:
df_1981['percentage'] = df_1981['percentage'].str.replace(',','.')

In [202]:
df_1981['percentage'] = df_1981['percentage'].astype(float)

In [203]:
df_1981['votes'] = df_1981['votes'].str.replace('.','')

In [204]:
df_1981['votes'] = df_1981['votes'].astype(int)

In [205]:
df_1981

,leader,party,percentage,seats,votes,date
0,,,48.07,172,2726309,1981
1,,,35.87,115,2034496,1981
2,,,10.93,13,620302,1981

In [206]:
df_1981_en = df_1981.copy()

In [207]:
df_1981_en['party'] = df_1981_en['party'].replace({' ':'New Democracy',
                                                    '  ':'PASOK',
                                                     '  ':'Communist Party',
                                                      })

In [208]:
df_1981_en

,leader,party,percentage,seats,votes,date
0,,PASOK,48.07,172,2726309,1981
1,,New Democracy,35.87,115,2034496,1981
2,,Communist Party,10.93,13,620302,1981

## Scraping 1977

In [209]:
table1977 = soup_doc.find_all('tbody')[17]

rows_1977 = table1977.find_all('tr')

rows=[]

for row in rows_1977[1:]:
    cells_1977 = row.find_all('td')
    #print(cells_2015_1)
    cell = {}
    
    party = cells_1977[0]
    cell['party'] = party.text
    
    leader = cells_1977[1]
    cell['leader'] = leader.text
    
    seats = cells_1977[2]
    cell['seats'] = seats.text
    
    percentage = cells_1977[3]
    cell['percentage'] = percentage.text
    
    votes = cells_1977[4]
    cell['votes'] = votes.text
    
    print(cell)
    rows.append(cell)

{'party': ' ', 'leader': '   ', 'seats': '171', 'percentage': '41,84', 'votes': '2.146.365'}
{'party': '  ', 'leader': '\xa0  ', 'seats': '93', 'percentage': '25,34', 'votes': '1.300.025'}
{'party': '  ', 'leader': ' ', 'seats': '16', 'percentage': '11,95', 'votes': '612.786'}
{'party': '  ', 'leader': '\xa0  ', 'seats': '11', 'percentage': '9,36', 'votes': '480.272'}
{'party': ' ', 'leader': ' ', 'seats': '5', 'percentage': '6,82', 'votes': '349.988'}
{'party': '  &  ', 'leader': ' ', 'seats': '2', 'percentage': '2,72', 'votes': '139.356'}
{'party': ' ', 'leader': '\xa0  ', 'seats': '2', 'percentage': '1,08', 'votes': '55.494'}

In [210]:
df_1977 = pd.DataFrame(rows)
df_1977

,leader,party,percentage,seats,votes
0,,,"41,84",171,2.146.365
1,,,"25,34",93,1.300.025
2,,,"11,95",16,612.786
3,,,"9,36",11,480.272
4,,,"6,82",5,349.988
5,,&,"2,72",2,139.356
6,,,"1,08",2,55.494

In [211]:
df_1977['date'] = '1977'

In [212]:
df_1977['percentage'] = df_1977['percentage'].str.replace(',','.')

In [213]:
df_1977['percentage'] = df_1977['percentage'].astype(float)

In [214]:
df_1977['votes'] = df_1977['votes'].str.replace('.','')

In [215]:
df_1977['votes'] = df_1977['votes'].astype(int)

In [216]:
df_1977

,leader,party,percentage,seats,votes,date
0,,,41.84,171,2146365,1977
1,,,25.34,93,1300025,1977
2,,,11.95,16,612786,1977
3,,,9.36,11,480272,1977
4,,,6.82,5,349988,1977
5,,&,2.72,2,139356,1977
6,,,1.08,2,55494,1977

In [217]:
df_1977_en = df_1977.copy()

In [218]:
df_1977_en['party'] = df_1977_en['party'].replace({' ':'New Democracy',
                                                    '  ':'PASOK',
                                                     '  ':'Communist Party',
                                                   '  ':'Union of the Democratic Centre',
                                                   ' ':'National Alignment',
                                                   '  &  ':'Alliance of Progressive and Left Forces',
                                                   ' ':'Neoliberals Party'
                                                    })

In [219]:
df_1977_en

,leader,party,percentage,seats,votes,date
0,,New Democracy,41.84,171,2146365,1977
1,,PASOK,25.34,93,1300025,1977
2,,Union of the Democratic Centre,11.95,16,612786,1977
3,,Communist Party,9.36,11,480272,1977
4,,National Alignment,6.82,5,349988,1977
5,,Alliance of Progressive and Left Forces,2.72,2,139356,1977
6,,Neoliberals Party,1.08,2,55494,1977

## Scraping 1974

In [220]:
table1974 = soup_doc.find_all('tbody')[18]

rows_1974 = table1974.find_all('tr')

rows=[]

for row in rows_1974[0:]:
    cells_1974 = row.find_all('td')
    #print(cells_2015_1)
    cell = {}
    
    party = cells_1974[0]
    cell['party'] = party.text
    
    leader = cells_1974[1]
    cell['leader'] = leader.text
    
    seats = cells_1974[2]
    cell['seats'] = seats.text
    
    percentage = cells_1974[3]
    cell['percentage'] = percentage.text
    
    votes = cells_1974[4]
    cell['votes'] = votes.text
    
    print(cell)
    rows.append(cell)

{'party': ' ', 'leader': '   ', 'seats': '220', 'percentage': '54,37', 'votes': '2.669.133'}
{'party': '    ', 'leader': ' ', 'seats': '60', 'percentage': '20,42', 'votes': '1.002.559'}
{'party': '  ', 'leader': '\xa0  ', 'seats': '12', 'percentage': '13,58', 'votes': '666.413'}
{'party': ' \r\n\t\t\t)   \r\n\t\t\t)    (.)\r\n\t\t\t)   ', 'leader': '\xa0\r\n\t\t\t.  \r\n\t\t\t. .  \xa0\r\n\t\t\t.  .', 'seats': '8', 'percentage': '9,47', 'votes': '464.787'}

In [221]:
df_1974 = pd.DataFrame(rows)
df_1974

,leader,party,percentage,seats,votes
0,,,"54,37",220,2.669.133
1,,,"20,42",60,1.002.559
2,,,"13,58",12,666.413
3,\r\n\t\t\t. \r\n\t\t\t. ...,\r\n\t\t\t) ...,"9,47",8,464.787

In [222]:
df_1974['date'] = '1974'

In [223]:
df_1974['percentage'] = df_1974['percentage'].str.replace(',','.')

In [224]:
df_1974['percentage'] = df_1974['percentage'].astype(float)

In [225]:
df_1974['votes'] = df_1974['votes'].str.replace('.','')

In [226]:
df_1974['votes'] = df_1974['votes'].astype(int)

In [227]:
df_1974

,leader,party,percentage,seats,votes,date
0,,,54.37,220,2669133,1974
1,,,20.42,60,1002559,1974
2,,,13.58,12,666413,1974
3,\r\n\t\t\t. \r\n\t\t\t. ...,\r\n\t\t\t) ...,9.47,8,464787,1974

In [228]:
df_1974_en = df_1974.copy()

In [ ]:
df_1974_en['party'] = df_1974_en['party'].replace({' ':'New Democracy',
                                                    '  ':'PASOK',
                                                     '    ':'Centre Union - New Forces',
                                                    ' \r\n\t\t\t)   \r\n\t\t\t)    (.)\r\n\t\t\t)   ':'United Left'
                                                    })

In [ ]:
df_1974_en

## Join

In [ ]:
elections = pd.concat([df_2015_1, df_2015,df2012_1,df_2012,df_2009,df_2007,df_2004,df_2000,df_1996,df_1993,df_1990,df_1989_1,df_1989,df_1985,df_1981,df_1977,df_1974])
elections

In [ ]:
elections.dtypes

In [ ]:
elections.to_csv('elections.csv')

In [ ]:
elections_en = pd.concat([df_2015_1_en, df_2015_en,df_2012_1_en,df_2012_en,df_2009_en,df_2007_en,df_2004_en,df_2000_en,df_1996_en,df_1993_en,df_1990_en,df_1989_1_en,df_1989_en,df_1985_en,df_1981_en,df_1977_en,df_1974_en])

In [ ]:
elections_en

In [ ]:
elections_en.dtypes

## Graphs

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.rcdefaults()
plt.rcParams.update({
    'pdf.fonttype': 42,
    'ps.fonttype': 42,
})

In [ ]:
plt.rcParams.update({
    'pdf.fonttype':42,
    'axes.facecolor': '#FFFBF6',
    'savefig.facecolor': '#FFFBF6',
    'figure.facecolor': '#FFFBF6',
    'axes.spines.left': True,
    'axes.spines.bottom': True,
    'axes.spines.top': False,
    'axes.spines.right': False,
    'axes.grid': False,
    'xtick.top': False,
    'xtick.bottom': True,
    'xtick.color': '#2e3546',
    'ytick.color':'#2e3546',
    #'ytick.bottom': True,
    #'ytick.color': 'black'
    #'xtick.major.size': 7,
    #'xtick.major.width': 3,
    #'xtick.major.pad': 0,
    #'xtick.direction': 'in',
    #'legend.columnspacing': 2.0,
    'font.family': 'Noto Serif',
    'font.size':16,
    'text.color':'#2e3546',
    })

In [ ]:
color_dict = {
    'New Democracy': '#003CA0',
    'Union of Centrists': '#B78E53',
    'Golden Dawn': 'black',
    'PASOK': '#00803E',
    'ANEL': '#21BEF6', #22B4DE
    'Communist Party': '#D50101',
    'SYRIZA': '#DE4D50',
    'Potami':'#9AC0DE'
}

In [ ]:
elections_en

In [ ]:
elections_en.groupby('date').party.count().plot(kind='bar',figsize=(20,5),width=1,rot=60)

#plt.savefig('n_parties.pdf')
plt.show()

In [ ]:
elections_hist = elections_en[(elections_en['party'].str.contains('SYRIZA',case=False,na=False)) | 
                              (elections_en['party'].str.contains('New Democracy')) | 
                              (elections_en['party'].str.contains('Golden Dawn')) | 
                              (elections_en['party'].str.contains('PASOK')) |
                              (elections_en['party'].str.contains('Democratic Alignment')) |
                              (elections_en['party'].str.contains('Communist Part'))]

In [ ]:
elections_hist

In [ ]:
elections_hist2 = elections_hist[['party','percentage','date']].copy()

In [ ]:
elections_hist2

In [ ]:
elections_hist2.dtypes

In [ ]:
hist = pd.DataFrame(data=elections_hist2.groupby(['date','party']).percentage.mean())
hist = hist.unstack()
hist

In [ ]:
hist = hist.fillna(0)
hist

In [ ]:
hist.dtypes

In [ ]:
hist.percentage['PASOK']

In [ ]:
hist.to_csv('hist.csv')

In [ ]:
hist = pd.read_csv('hist.csv')

In [ ]:
hist

In [ ]:
hist = hist.drop('percentage.1',axis=1)

In [ ]:
hist = hist.drop([0],axis=0)

In [ ]:
hist = hist.drop([1],axis=0)

In [ ]:
hist['percentage.5'][18] = hist['percentage.3'][18]

In [ ]:
hist = hist.drop('percentage.2',axis=1)

In [ ]:
hist

In [ ]:
hist = hist.rename(columns={'Unnamed: 0':'date',
                     'percentage':'Communist Party',
                     'percentage.3':'Golden Dawn',
                     'percentage.4':'New Democracy',
                     'percentage.5':'PASOK',
                     'percentage.6':'SYRIZA'})

In [ ]:
hist

In [ ]:
hist['date'][15]

In [ ]:
hist['date'][16]

In [ ]:
hist['date'] = hist['date'].replace({'2012, Jun':'2012,b',
                                 '2012, May':'2012,a'})

In [ ]:
hist

In [ ]:
hist.dtypes

In [ ]:
hist['Communist Party'] = hist['Communist Party'].astype(float)
hist['Golden Dawn'] = hist['Golden Dawn'].astype(float)
hist['New Democracy'] = hist['New Democracy'].astype(float)
hist['PASOK'] = hist['PASOK'].astype(float)
hist['SYRIZA'] = hist['SYRIZA'].astype(float)
hist.dtypes

In [ ]:
ax = hist.sort_values(by='date').plot(kind='line',x='date',figsize=(20,5),marker='o')

ax.set_yticks([0,5,10,15,20,25,30,35,40,45,50,55,60])
ax.set_yticklabels(["0","","10","","20","","30","","40","","50","","60"])
ax.set_xticks([])
ax.set_xticklabels([])

#plt.savefig('historical.pdf')
plt.show()